
$black: #000 !default;
$white: #fff !default;

$primary-input: #75c043 !default;
$primary: $primary-input !default;
$primary-light: scale-color($primary, $lightness: 5%) !default;
$primary-lighter: scale-color($primary, $lightness: 10%) !default;
$primary-dark: scale-color($primary, $lightness: -5%) !default;
$primary-darker: scale-color($primary, $lightness: -10%) !default;
$primary-active: rgba($primary, 0.92) !default;
$primary-inactive: rgba($primary, 0.72) !default;

$secondary-input: #00b27f !default;
$secondary: $secondary-input !default;
$secondary-light: scale-color($secondary, $lightness: 5%) !default;
$secondary-lighter: scale-color($secondary, $lightness: 10%) !default;
$secondary-dark: scale-color($secondary, $lightness: -5%) !default;
$secondary-darker: scale-color($secondary, $lightness: -10%) !default;
$secondary-active: rgba($secondary, 0.92) !default;
$secondary-inactive: rgba($secondary, 0.72) !default;

$bg-nav-right-input: #27343e !default;
$bg-nav-right: $bg-nav-right-input !default;
$bg-nav-right-enquire-submit: #00b27f !default;

$nav-right-button: #00b27f !default;
$bg-nav-right: #27343e !default;
$nav-right-menu-item: #fafafa !default;
$nav-right-menu-item-hover: #00bc87 !default;

$nav-right-button-light: scale-color($nav-right-button, $lightness: 12%) !default;
$nav-right-button-dark: scale-color($nav-right-button, $lightness: -5%) !default;
$nav-right-button-darker: scale-color($nav-right-button, $lightness: -10%) !default;

$bg-gradient-nav: linear-gradient(-162deg, $nav-right-button-light 35%, $nav-right-button 60%, $nav-right-button-dark 80%, $nav-right-button-darker 100%) !default;
$footer-area-bg: #192128 !default;
$next-page-background: #172028 !default;
$next-page-button-text: #ececf0 !default;
$next-page-button-text-hover: #00bc87 !default;
$next-page-button-background: #192128 !default;

$light-input: #f0f0f0 !default;
$light: $light-input !default;

$dark-input: #202a32 !default;
$dark: $dark-input !default;

$darker-input: scale-color($dark, $lightness: -10%) !default;
$darker: $darker-input !default;

$text-muted: rgba($light, .72) !default;

$mystirling-blue-input: #24c7c4 !default;
$mystirling-blue: $mystirling-blue-input !default;
$mystirling-light: scale-color($mystirling-blue, $lightness: 5%) !default;
$mystirling-blue-dark: scale-color($mystirling-blue, $lightness: -5%) !default;
$mystirling-blue-darker: scale-color($mystirling-blue, $lightness: -10%) !default;

$font-family-buttons: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-heading : "Montreal", Helvetica, Arial, sans-serif !default;

$text-black-color:  $white !default;
$text-body-color:   $white !default;
$text-muted-color:  rgba($white, 0.72) !default;

$body-bg: $dark !default;
$body-color: $white !default;
$footer-color: $white !default;
$footer-heading-color: $secondary !default;
$gmap-color: $white !default;
$gmap-heading-color: $secondary !default;

$bg-texture-one: url("https://verdant.lcprojects.com.au/wp-content/uploads/leaf-one.jpg") !default;
$bg-texture-two: url("https://verdant.lcprojects.com.au/wp-content/uploads/leaf-two.jpg") !default;

$bg-login-logo: url("https://verdant.lcprojects.com.auhttps://verdant.lcprojects.com.au/wp-content/uploads/logo-verdant.svg") !default;

$font-size-base: 0.975rem !default;
$font-weight-normal: 500 !default;

$headings-font-weight: 400 !default;
$headings-line-height: 1.2 !default;
$body-line-height: 1.4 !default;

$h1-font-size: 3.125rem !default;
$h2-font-size: 2.75rem !default;
$h3-font-size: 1.675rem !default;
