#adv-settings .show-field-keys label {
  padding: 0 5px
}

#acf-field-group-fields>.inside,
#acf-field-group-locations>.inside,
#acf-field-group-options>.inside {
  padding: 0;
  margin: 0
}

.acf-field p.description {
  font-style: normal;
  font-size: 12px;
  color: #777777
}

#minor-publishing-actions,
#misc-publishing-actions #visibility {
  display: none
}

#minor-publishing {
  border-bottom: 0 none
}

#misc-pub-section {
  border-bottom: 0 none
}

#misc-publishing-actions .misc-pub-section {
  border-bottom-color: #F5F5F5
}

#acf-field-group-fields {
  border: 0 none;
  box-shadow: none
}

#acf-field-group-fields>.handlediv,
#acf-field-group-fields>.hndle {
  display: none
}

#acf-field-group-fields a {
  text-decoration: none
}

#acf-field-group-fields a:active,
#acf-field-group-fields a:focus {
  outline: none;
  box-shadow: none
}

#acf-field-group-fields .li-field-order {
  width: 20%
}

#acf-field-group-fields .li-field-label {
  width: 30%
}

#acf-field-group-fields .li-field-name {
  width: 25%
}

#acf-field-group-fields .li-field-type {
  width: 25%
}

#acf-field-group-fields .li-field-key {
  display: none
}

#acf-field-group-fields.show-field-keys .li-field-label,
#acf-field-group-fields.show-field-keys .li-field-name,
#acf-field-group-fields.show-field-keys .li-field-type,
#acf-field-group-fields.show-field-keys .li-field-key {
  width: 20%
}

#acf-field-group-fields.show-field-keys .li-field-key {
  display: block
}

#acf-field-group-fields .acf-field-list-wrap {
  border: #DFDFDF solid 1px
}

#acf-field-group-fields .acf-field-list {
  background: #F9F9F9;
  margin-top: -1px
}

#acf-field-group-fields .acf-field-list .no-fields-message {
  padding: 15px 15px;
  background: #fff;
  display: none
}

#acf-field-group-fields .acf-field-list.-empty .no-fields-message {
  display: block
}

.acf-field-object {
  border-top: #F0F0F0 solid 1px;
  background: #fff
}

.acf-field-object.ui-sortable-helper {
  border-top-color: #fff;
  box-shadow: 0 0 0 1px #DFDFDF, 0 1px 4px rgba(0, 0, 0, 0.1)
}

.acf-field-object.ui-sortable-placeholder {
  box-shadow: 0 -1px 0 0 #DFDFDF;
  visibility: visible !important;
  background: #F9F9F9;
  border-top-color: transparent;
  min-height: 54px
}

.acf-field-object.ui-sortable-placeholder:after,
.acf-field-object.ui-sortable-placeholder:before {
  visibility: hidden
}

.acf-field-object>.meta {
  display: none
}

.acf-field-object>.handle a {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none
}

.acf-field-object>.handle li {
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word
}

.acf-field-object>.handle .acf-icon {
  margin: 1px 0 0;
  cursor: move;
  background: transparent;
  float: left;
  height: 28px;
  line-height: 28px;
  width: 28px;
  font-size: 13px;
  color: #444;
  position: relative;
  z-index: 1
}

.acf-field-object>.handle strong {
  display: block;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 14px;
  min-height: 14px
}

.acf-field-object>.handle .row-options {
  visibility: hidden
}

.acf-field-object>.handle .row-options a {
  margin-right: 4px
}

.acf-field-object>.handle .row-options a.delete-field {
  color: #a00
}

.acf-field-object>.handle .row-options a.delete-field:hover {
  color: #f00
}

.acf-field-object.open+.acf-field-object {
  border-top-color: #E1E1E1
}

.acf-field-object.open>.handle {
  background: #2a9bd9;
  border: #2696d3 solid 1px;
  text-shadow: #268FBB 0 1px 0;
  color: #fff;
  position: relative;
  margin: -1px -1px 0 -1px
}

.acf-field-object.open>.handle a {
  color: #fff !important
}

.acf-field-object.open>.handle a:hover {
  text-decoration: underline !important
}

.acf-field-object.open>.handle .acf-icon {
  border-color: #fff;
  color: #fff
}

.acf-field-object.open>.handle .acf-required {
  color: #fff
}

.acf-field-object:hover>.handle .row-options,
.acf-field-object.-hover>.handle .row-options {
  visibility: visible
}

.acf-field-object>.settings {
  display: none;
  width: 100%
}

.acf-field-object>.settings>.acf-table {
  border: none
}

.acf-field-object .rule-groups {
  margin-top: 20px
}

.rule-groups h4 {
  margin: 15px 0 5px
}

.rule-groups .rule-group {
  margin: 0 0 5px
}

.rule-groups .rule-group h4 {
  margin: 0 0 3px
}

.rule-groups .rule-group td.param {
  width: 35%
}

.rule-groups .rule-group td.operator {
  width: 20%
}

.rule-groups .rule-group td.add {
  width: 40px
}

.rule-groups .rule-group td.remove {
  width: 28px;
  vertical-align: middle
}

.rule-groups .rule-group td.remove a {
  visibility: hidden
}

.rule-groups .rule-group tr:hover td.remove a {
  visibility: visible
}

.rule-groups .rule-group:first-child tr:first-child td.remove a {
  visibility: hidden !important
}

.rule-groups .rule-group select:empty {
  background: #f8f8f8
}

#acf-field-group-options tr[data-name="hide_on_screen"] li {
  float: left;
  width: 33%
}

@media (max-width: 1100px) {
  #acf-field-group-options tr[data-name="hide_on_screen"] li {
    width: 50%
  }
}

table.conditional-logic-rules {
  background: transparent;
  border: 0 none;
  border-radius: 0
}

table.conditional-logic-rules tbody td {
  background: transparent;
  border: 0 none !important;
  padding: 5px 2px !important
}

.acf-field-object-tab .acf-field-setting-name,
.acf-field-object-accordion .acf-field-setting-name,
.acf-field-object-tab .acf-field-setting-instructions,
.acf-field-object-accordion .acf-field-setting-instructions,
.acf-field-object-tab .acf-field-setting-required,
.acf-field-object-accordion .acf-field-setting-required,
.acf-field-object-tab .acf-field-setting-warning,
.acf-field-object-accordion .acf-field-setting-warning,
.acf-field-object-tab .acf-field-setting-wrapper,
.acf-field-object-accordion .acf-field-setting-wrapper {
  display: none
}

.acf-field-object-tab .li-field-name,
.acf-field-object-accordion .li-field-name {
  visibility: hidden
}

.acf-field-object+.acf-field-object-tab:before,
.acf-field-object+.acf-field-object-accordion:before {
  display: block;
  content: "";
  height: 5px;
  width: 100%;
  background: #f9f9f9;
  border-bottom: #f0f0f0 solid 1px
}

.acf-field-object-tab p:first-child,
.acf-field-object-accordion p:first-child {
  margin: 0.5em 0
}

.acf-field-object-accordion .acf-field-setting-instructions {
  display: table-row
}

.acf-field-object-message tr[data-name="name"],
.acf-field-object-message tr[data-name="instructions"],
.acf-field-object-message tr[data-name="required"] {
  display: none !important
}

.acf-field-object-message .li-field-name {
  visibility: hidden
}

.acf-field-object-message textarea {
  height: 175px !important
}

.acf-field-object-separator tr[data-name="name"],
.acf-field-object-separator tr[data-name="instructions"],
.acf-field-object-separator tr[data-name="required"] {
  display: none !important
}

.acf-field-object-date-picker .acf-radio-list li,
.acf-field-object-time-picker .acf-radio-list li,
.acf-field-object-date-time-picker .acf-radio-list li {
  line-height: 25px
}

.acf-field-object-date-picker .acf-radio-list span,
.acf-field-object-time-picker .acf-radio-list span,
.acf-field-object-date-time-picker .acf-radio-list span {
  display: inline-block;
  min-width: 10em
}

.acf-field-object-date-picker .acf-radio-list input[type="text"],
.acf-field-object-time-picker .acf-radio-list input[type="text"],
.acf-field-object-date-time-picker .acf-radio-list input[type="text"] {
  width: 100px
}

.acf-field-object-date-time-picker .acf-radio-list span {
  min-width: 15em
}

.acf-field-object-date-time-picker .acf-radio-list input[type="text"] {
  width: 200px
}

#slugdiv .inside {
  padding: 12px;
  margin: 0
}

#slugdiv input[type="text"] {
  width: 100%;
  height: 28px;
  font-size: 14px
}

html[dir="rtl"] .acf-field-object.open>.handle {
  margin: -1px -1px 0
}

html[dir="rtl"] .acf-field-object.open>.handle .acf-icon {
  float: right
}

html[dir="rtl"] .acf-field-object.open>.handle .li-field-order {
  padding-left: 0 !important;
  padding-right: 15px !important
}

@media only screen and (max-width: 850px) {

  tr.acf-field,
  td.acf-label,
  td.acf-input {
    display: block !important;
    width: auto !important;
    border: 0 none !important
  }

  tr.acf-field {
    border-top: #ededed solid 1px !important;
    margin-bottom: 0 !important
  }

  td.acf-label {
    background: transparent !important;
    padding-bottom: 0 !important
  }
}
