.acf-hl {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  position: relative
}

.acf-hl>li {
  float: left;
  display: block;
  margin: 0;
  padding: 0
}

.acf-hl>li.acf-fr {
  float: right
}

.acf-hl:before,
.acf-hl:after,
.acf-bl:before,
.acf-bl:after,
.acf-cf:before,
.acf-cf:after {
  content: "";
  display: block;
  line-height: 0
}

.acf-hl:after,
.acf-bl:after,
.acf-cf:after {
  clear: both
}

.acf-bl {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  position: relative
}

.acf-bl>li {
  display: block;
  margin: 0;
  padding: 0;
  float: none
}

.acf-hidden {
  display: none !important
}

.acf-empty {
  display: table-cell !important
}

.acf-empty * {
  display: none !important
}

.acf-fl {
  float: left
}

.acf-fr {
  float: right
}

.acf-fn {
  float: none
}

.acf-al {
  text-align: left
}

.acf-ar {
  text-align: right
}

.acf-ac {
  text-align: center
}

.acf-loading,
.acf-spinner {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: text-top;
  background: transparent url(../images/spinner.gif) no-repeat 50% 50%
}

.acf-spinner {
  display: none
}

.acf-spinner.is-active {
  display: inline-block
}

.spinner.is-active {
  display: inline-block
}

.acf-required {
  color: #f00
}

.acf-soh .acf-soh-target {
  -webkit-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  -moz-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  -o-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  visibility: hidden;
  opacity: 0
}

.acf-soh:hover .acf-soh-target {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1
}

.show-if-value {
  display: none
}

.hide-if-value {
  display: block
}

.has-value .show-if-value {
  display: block
}

.has-value .hide-if-value {
  display: none
}

.select2-search-choice-close {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none
}

.acf-tooltip {
  background: #2F353E;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  font-size: 12px;
  line-height: 1.4em;
  z-index: 900000
}

.acf-tooltip:before {
  border: solid;
  border-color: transparent;
  border-width: 6px;
  content: "";
  position: absolute
}

.acf-tooltip.top {
  margin-top: -8px
}

.acf-tooltip.top:before {
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-top-color: #2F353E;
  border-bottom-width: 0
}

.acf-tooltip.right {
  margin-left: 8px
}

.acf-tooltip.right:before {
  top: 50%;
  margin-top: -6px;
  right: 100%;
  border-right-color: #2F353E;
  border-left-width: 0
}

.acf-tooltip.bottom {
  margin-top: 8px
}

.acf-tooltip.bottom:before {
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-bottom-color: #2F353E;
  border-top-width: 0
}

.acf-tooltip.left {
  margin-left: -8px
}

.acf-tooltip.left:before {
  top: 50%;
  margin-top: -6px;
  left: 100%;
  border-left-color: #2F353E;
  border-right-width: 0
}

.acf-tooltip .acf-overlay {
  z-index: -1
}

.acf-tooltip.-confirm {
  z-index: 900001
}

.acf-tooltip.-confirm a {
  text-decoration: none;
  color: #9ea3a8
}

.acf-tooltip.-confirm a:hover {
  text-decoration: underline
}

.acf-tooltip.-confirm a[data-event="confirm"] {
  color: #F55E4F
}

.acf-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: default
}

.acf-tooltip-target {
  position: relative;
  z-index: 900002
}

.acf-loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: default;
  z-index: 99;
  background: rgba(249, 249, 249, 0.5)
}

.acf-loading-overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.acf-callout {
  margin: 20px 0;
  padding: 20px;
  background-color: #FCF8F2;
  border-left: 3px solid #F0AD4E
}

.acf-callout h4 {
  color: #F0AD4E;
  margin: 0 !important
}

.acf-callout p {
  margin-bottom: 0
}

.acf-callout.danger {
  border-color: #D9534F;
  background-color: #FDF7F7
}

.acf-callout.danger h4 {
  color: #D9534F
}

.acf-callout.success {
  background-color: #f4faf6;
  border-color: #bcf1c5
}

.acf-callout.success h4 {
  color: #3aad60
}

@font-face {
  font-family: 'acf';
  src: url("../font/acf.eot?57601716");
  src: url("../font/acf.eot?57601716#iefix") format("embedded-opentype"), url("../font/acf.woff2?57601716") format("woff2"), url("../font/acf.woff?57601716") format("woff"), url("../font/acf.ttf?57601716") format("truetype"), url("../font/acf.svg?57601716#acf") format("svg");
  font-weight: normal;
  font-style: normal
}

.acf-icon:before {
  font-family: "acf";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative
}

.acf-icon.-plus:before {
  content: '\e800'
}

.acf-icon.-minus:before {
  content: '\e801'
}

.acf-icon.-cancel:before {
  content: '\e802'
}

.acf-icon.-pencil:before {
  content: '\e803';
  top: -1px
}

.acf-icon.-location:before {
  content: '\e804'
}

.acf-icon.-down:before {
  content: '\e805';
  top: 1px
}

.acf-icon.-left:before {
  content: '\e806';
  left: -1px
}

.acf-icon.-right:before {
  content: '\e807';
  left: 1px
}

.acf-icon.-up:before {
  content: '\e808';
  top: -1px
}

.acf-icon.-sync:before {
  content: '\e809'
}

.acf-icon.-globe:before {
  content: '\e80a'
}

.acf-icon.-picture:before {
  content: '\e80b'
}

.acf-icon.-check:before {
  content: '\e80c'
}

.acf-icon.-dot-3:before {
  content: '\e80d'
}

.acf-icon.-arrow-combo:before {
  content: '\e80e'
}

.acf-icon.-arrow-up:before {
  content: '\e810';
  top: -1px
}

.acf-icon.-arrow-down:before {
  content: '\e80f';
  top: 1px
}

.acf-icon.-search:before {
  content: '\e811'
}

.acf-icon.-link-ext:before {
  content: '\f08e'
}

.acf-icon.-collapse:before {
  content: '\e810';
  top: -1px
}

.-collapsed .acf-icon.-collapse:before {
  content: '\e80f';
  top: 1px
}

.acf-icon {
  display: inline-block;
  height: 26px;
  width: 26px;
  border: transparent solid 1px;
  border-radius: 100%;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  box-sizing: content-box
}

span.acf-icon {
  color: #999;
  border-color: #BBB;
  background-color: #fff
}

a.acf-icon {
  color: #999;
  border-color: #BBB;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: none
}

a.acf-icon.-clear {
  color: #444;
  background: transparent;
  border: none
}

a.acf-icon.light {
  border: none;
  padding: 1px;
  background: #F5F5F5;
  color: #72777c
}

a.acf-icon:hover {
  border-color: transparent;
  background: #2a9bd9;
  color: #fff
}

a.acf-icon:active {
  color: #fff;
  background-color: #238cc6
}

a.acf-icon:active,
a.acf-icon:focus {
  outline: none;
  box-shadow: none
}

a.acf-icon.-minus:hover,
a.acf-icon.-cancel:hover {
  background-color: #F55E4F
}

a.acf-icon.-minus:active,
a.acf-icon.-cancel:active {
  background-color: #f44837
}

.acf-icon.-pencil {
  font-size: 15px
}

.acf-icon.-location {
  font-size: 18px
}

.acf-icon.small,
.acf-icon.-small {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 14px
}

.acf-icon.dark {
  border-color: transparent;
  background: #23282D;
  color: #eee
}

a.acf-icon.dark:hover {
  border-color: transparent;
  background: #191E23;
  color: #00b9eb
}

a.acf-icon.-minus.dark:hover,
a.acf-icon.-cancel.dark:hover {
  color: #D54E21
}

.acf-icon.grey {
  border-color: transparent;
  background: #b4b9be;
  color: #fff
}

a.acf-icon.grey:hover {
  border-color: transparent;
  background: #00A0D2;
  color: #fff
}

a.acf-icon.-minus.grey:hover,
a.acf-icon.-cancel.grey:hover {
  background: #32373C
}

.acf-icon.red {
  border-color: transparent;
  background-color: #F55E4F;
  color: #fff
}

.acf-icon.yellow {
  border-color: transparent;
  background-color: #FDBC40;
  color: #fff
}

.acf-icon.logo {
  width: 150px;
  height: 150px;
  background: #5EE8BF;
  border: 0 none;
  position: absolute;
  right: 0;
  top: 0
}

.acf-box {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
}

.acf-box .title {
  border-bottom: 1px solid #EEEEEE;
  margin: 0;
  padding: 15px
}

.acf-box .title h3 {
  font-size: 14px;
  line-height: 1em;
  margin: 0;
  padding: 0
}

.acf-box .inner {
  padding: 15px
}

.acf-box h2 {
  color: #333333;
  font-size: 26px;
  line-height: 1.25em;
  margin: 0.25em 0 0.75em;
  padding: 0
}

.acf-box h3 {
  margin: 1.5em 0 0
}

.acf-box p {
  margin-top: 0.5em
}

.acf-box a {
  text-decoration: none
}

.acf-box i.dashicons-external {
  margin-top: -1px
}

.acf-box .footer {
  border-top: 1px solid #eee;
  padding: 12px;
  font-size: 13px;
  line-height: 1.5
}

.acf-box .footer p {
  margin: 0
}

.acf-notice {
  position: relative;
  display: block;
  color: #fff;
  margin: 5px 0 15px;
  padding: 3px 12px;
  background: #2a9bd9;
  border-left: #2183b9 solid 4px
}

.acf-notice p {
  font-size: 13px;
  line-height: 1.5;
  margin: 0.5em 0;
  text-shadow: none;
  color: inherit
}

.acf-notice a.acf-notice-dismiss {
  position: absolute;
  border-color: transparent;
  top: 9px;
  right: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1)
}

.acf-notice a.acf-notice-dismiss:hover {
  background: rgba(0, 0, 0, 0.2)
}

.acf-notice.-dismiss {
  padding-right: 40px
}

.acf-notice.-error {
  background: #F55E4F;
  border-color: #f33b28
}

.acf-notice.-success {
  background: #46b450;
  border-color: #3b9743
}

.acf-notice.-warning {
  background: #fd8d3b;
  border-color: #fd7613
}

.acf-table {
  border: #DFDFDF solid 1px;
  background: #fff;
  border-spacing: 0;
  border-radius: 0;
  table-layout: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;
  box-sizing: content-box
}

.acf-table>tbody>tr>th,
.acf-table>tbody>tr>td,
.acf-table>thead>tr>th,
.acf-table>thead>tr>td {
  padding: 8px;
  vertical-align: top;
  background: #fff;
  text-align: left;
  border-style: solid;
  font-weight: normal
}

.acf-table>tbody>tr>th,
.acf-table>thead>tr>th {
  position: relative;
  color: #333333
}

.acf-table>thead>tr>th {
  border-color: #E1E1E1;
  border-width: 0 0 1px 1px
}

.acf-table>thead>tr>th:first-child {
  border-left-width: 0
}

.acf-table>tbody>tr {
  z-index: 1
}

.acf-table>tbody>tr>td {
  border-color: #EDEDED;
  border-width: 1px 0 0 1px
}

.acf-table>tbody>tr>td:first-child {
  border-left-width: 0
}

.acf-table>tbody>tr:first-child>td {
  border-top-width: 0
}

.acf-table.-clear {
  border: 0 none
}

.acf-table.-clear>tbody>tr>td,
.acf-table.-clear>tbody>tr>th,
.acf-table.-clear>thead>tr>td,
.acf-table.-clear>thead>tr>th {
  border: 0 none;
  padding: 4px
}

.acf-remove-element {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  transform: translate(50px, 0);
  opacity: 0
}

.acf-fade-up {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  transform: translate(0, -10px);
  opacity: 0
}

#adminmenu a[href="edit.php?post_type=acf-field-group&page=acf-settings-info"] {
  display: none
}

#icon-edit.icon32-posts-acf-field-group {
  background-position: -11px -5px
}

#acf-field-group-wrap .tablenav,
#acf-field-group-wrap p.search-box {
  display: none
}

#acf-field-group-wrap .wp-list-table .column-acf-fg-description,
#acf-field-group-wrap .wp-list-table .column-acf-fg-description:before {
  display: none !important
}

#acf-field-group-wrap .wp-list-table .column-acf-fg-count {
  width: 10%
}

#acf-field-group-wrap .wp-list-table .column-acf-fg-status {
  width: 10%
}

#acf-field-group-wrap .tablenav.bottom {
  display: block
}

#acf-field-group-wrap .acf-description {
  font-weight: normal;
  font-size: 13px;
  color: #999;
  margin-left: 7px;
  font-style: italic
}

#acf-field-group-wrap .subsubsub {
  margin-bottom: 3px
}

#acf-field-group-wrap .subsubsub ul {
  margin: 0
}

#acf-field-group-wrap .subsubsub+.subsubsub {
  margin-top: 0
}

#acf-field-group-wrap .subsubsub a:focus {
  box-shadow: none
}

.acf-columns-2 {
  margin-right: 300px;
  clear: both
}

.acf-columns-2:after {
  display: block;
  clear: both;
  content: ""
}

html[dir="rtl"] .acf-columns-2 {
  margin-right: 0;
  margin-left: 300px
}

.acf-columns-2 .acf-column-1 {
  float: left;
  width: 100%
}

html[dir="rtl"] .acf-columns-2 .acf-column-1 {
  float: right
}

.acf-columns-2 .acf-column-2 {
  float: right;
  margin-right: -300px;
  width: 280px
}

html[dir="rtl"] .acf-columns-2 .acf-column-2 {
  float: left;
  margin-right: 0;
  margin-left: -300px
}

#acf-field-group-wrap .search-box:after {
  display: block;
  content: "";
  height: 5px
}

.acf-clear {
  clear: both
}

@media screen and (max-width: 782px) {
  #acf-field-group-wrap #the-list .acf-icon:after {
    content: attr(title);
    position: absolute;
    margin-left: 5px;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    color: #444
  }
}

.acf-thead,
.acf-tbody,
.acf-tfoot {
  width: 100%;
  padding: 0;
  margin: 0
}

.acf-thead>li,
.acf-tbody>li,
.acf-tfoot>li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 14px
}

.acf-thead {
  border-bottom: #E1E1E1 solid 1px;
  color: #23282d
}

.acf-thead>li {
  font-size: 14px;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold
}

.acf-tfoot {
  background: #f5f5f5;
  border-top: #dddddd solid 1px
}

.acf-tfoot>li {
  color: #7A9BBE;
  font-size: 12px;
  line-height: 27px
}

.acf-settings-wrap #poststuff {
  padding-top: 15px
}

.acf-settings-wrap table {
  margin: 0
}

.acf-settings-wrap table .button {
  vertical-align: middle
}

.add-ons-list {
  margin: 20px 0 0 -18px;
  max-width: 960px
}

.add-ons-list .add-on {
  width: 220px;
  margin: 0 0 20px 18px;
  float: left
}

.add-ons-list .add-on .inner {
  min-height: 90px
}

.add-ons-list .add-on-acf-pro {
  width: 940px
}

.add-ons-list .add-on .thumbnail img {
  display: block
}

.add-ons-list .add-on h3 a {
  color: inherit;
  text-decoration: none
}

.add-ons-list .add-on h3 {
  margin: 0.5em 0
}

#acf-popup {
  position: fixed;
  z-index: 900000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center
}

#acf-popup .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.25)
}

#acf-popup:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

#acf-popup .acf-popup-box {
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  min-width: 300px;
  min-height: 160px;
  border-color: #aaaaaa;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.25);
  text-align: left
}

html[dir="rtl"] #acf-popup .acf-popup-box {
  text-align: right
}

#acf-popup .acf-popup-box .title {
  min-height: 15px;
  line-height: 15px
}

#acf-popup .acf-popup-box .title .acf-icon {
  position: absolute;
  top: 10px;
  right: 10px
}

html[dir="rtl"] #acf-popup .acf-popup-box .title .acf-icon {
  right: auto;
  left: 10px
}

#acf-popup .acf-popup-box .inner {
  min-height: 50px;
  padding: 0;
  margin: 15px
}

#acf-popup .acf-popup-box .loading {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
  display: none
}

#acf-popup .acf-popup-box .loading i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.acf-submit {
  margin-bottom: 0;
  line-height: 28px
}

.acf-submit span {
  float: right;
  color: #999
}

.acf-submit span.-error {
  color: #dd4232
}

.acf-submit .button {
  margin-right: 5px
}

#acf-upgrade-notice {
  position: relative;
  background: #fff;
  border-left: 4px solid #00a0d2;
  padding: 20px
}

#acf-upgrade-notice:after {
  display: block;
  clear: both;
  content: ""
}

#acf-upgrade-notice .col-content {
  float: left;
  width: 55%;
  padding-left: 90px
}

#acf-upgrade-notice .col-actions {
  float: right;
  text-align: center;
  padding: 10px
}

#acf-upgrade-notice img {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 0 0 -90px
}

#acf-upgrade-notice h2 {
  font-size: 16px;
  margin: 2px 0 6.5px
}

#acf-upgrade-notice p {
  padding: 0;
  margin: 0
}

#acf-upgrade-notice .button:before {
  margin-top: 11px
}

@media screen and (max-width: 640px) {

  #acf-upgrade-notice .col-content,
  #acf-upgrade-notice .col-actions {
    float: none;
    padding-left: 90px;
    width: auto;
    text-align: left
  }
}

.acf-wrap h1 {
  margin-top: 0;
  padding-top: 20px
}

.acf-wrap .about-text {
  margin-top: 0.5em;
  min-height: 50px
}

.acf-wrap .about-headline-callout {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.3;
  margin: 1.1em 0 0.2em;
  text-align: center
}

.acf-wrap .feature-section {
  padding: 40px 0
}

.acf-wrap .feature-section h2 {
  margin-top: 20px
}

.acf-wrap .changelog {
  list-style: disc;
  padding-left: 15px
}

.acf-wrap .changelog li {
  margin: 0 0 0.75em
}

.acf-wrap .acf-three-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.acf-wrap .acf-three-col>div {
  flex: 1;
  align-self: flex-start;
  min-width: 31%;
  max-width: 31%
}

@media screen and (max-width: 880px) {
  .acf-wrap .acf-three-col>div {
    min-width: 48%
  }
}

@media screen and (max-width: 640px) {
  .acf-wrap .acf-three-col>div {
    min-width: 100%
  }
}

.acf-wrap .acf-three-col h3 .badge {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  background: #fc9700;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding: 2px 5px
}

.acf-wrap .acf-three-col img+h3 {
  margin-top: 0.5em
}

.acf-hl[data-cols] {
  margin-left: -10px;
  margin-right: -10px
}

.acf-hl[data-cols]>li {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.acf-hl[data-cols="2"]>li {
  width: 50%
}

.acf-hl[data-cols="3"]>li {
  width: 33.333%
}

.acf-hl[data-cols="4"]>li {
  width: 25%
}

@media screen and (max-width: 640px) {
  .acf-hl[data-cols] {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px
  }

  .acf-hl[data-cols]>li {
    width: 100% !important;
    padding: 10px 0 0
  }
}

.acf-actions {
  text-align: right;
  z-index: 1
}

.acf-actions a {
  margin-left: 4px
}

.acf-actions.-hover {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  padding: 5px
}

html[dir="rtl"] .acf-actions a {
  margin-left: 0;
  margin-right: 4px
}

html[dir="rtl"] .acf-actions.-hover {
  right: auto;
  left: 0
}

ul.acf-actions li {
  float: right;
  margin-left: 4px
}

.acf-plugin-upgrade-notice {
  font-weight: normal;
  color: #fff;
  background: #d54d21;
  padding: 1em;
  margin: 9px 0
}

.acf-plugin-upgrade-notice:before {
  content: "\f348";
  display: inline-block;
  font: 400 18px/1 dashicons;
  speak: none;
  margin: 0 8px 0 -2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top
}

.acf-plugin-upgrade-notice h4 {
  display: none
}

.acf-plugin-upgrade-notice ul,
.acf-plugin-upgrade-notice li {
  display: inline;
  color: inherit;
  list-style: none
}

.acf-plugin-upgrade-notice li:after {
  content: '. ';
  display: inline
}

html[dir="rtl"] .acf-fl {
  float: right
}

html[dir="rtl"] .acf-fr {
  float: left
}

html[dir="rtl"] .acf-hl>li {
  float: right
}

html[dir="rtl"] .acf-hl>li.acf-fr {
  float: left
}

html[dir="rtl"] .acf-icon.logo {
  left: 0;
  right: auto
}

html[dir="rtl"] .acf-table thead th {
  text-align: right;
  border-right-width: 1px;
  border-left-width: 0px
}

html[dir="rtl"] .acf-table>tbody>tr>td {
  text-align: right;
  border-right-width: 1px;
  border-left-width: 0px
}

html[dir="rtl"] .acf-table>thead>tr>th:first-child,
html[dir="rtl"] .acf-table>tbody>tr>td:first-child {
  border-right-width: 0
}

html[dir="rtl"] .acf-table>tbody>tr>td.order+td {
  border-right-color: #e1e1e1
}

.acf-postbox-columns {
  position: relative;
  margin-top: -11px;
  margin-bottom: -11px;
  margin-left: -12px;
  margin-right: 268px
}

.acf-postbox-columns:after {
  display: block;
  clear: both;
  content: ""
}

.acf-postbox-columns .acf-postbox-main,
.acf-postbox-columns .acf-postbox-side {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px 12px
}

.acf-postbox-columns .acf-postbox-main {
  float: left;
  width: 100%
}

.acf-postbox-columns .acf-postbox-side {
  float: right;
  width: 280px;
  margin-right: -280px
}

.acf-postbox-columns .acf-postbox-side:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background: #ebebeb
}

@media only screen and (max-width: 850px) {
  .acf-postbox-columns {
    margin: 0
  }

  .acf-postbox-columns .acf-postbox-main,
  .acf-postbox-columns .acf-postbox-side {
    float: none;
    width: auto;
    margin: 0;
    padding: 0
  }

  .acf-postbox-columns .acf-postbox-side {
    margin-top: 1em
  }

  .acf-postbox-columns .acf-postbox-side:before {
    display: none
  }
}

.acf-panel {
  margin-top: -1px;
  border-top: 1px solid #e2e4e7;
  border-bottom: 1px solid #e2e4e7
}

.acf-panel .acf-panel-title {
  margin: 0;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: inherit
}

.acf-panel .acf-panel-title i {
  float: right
}

.acf-panel .acf-panel-inside {
  margin: 0;
  padding: 0 12px 12px;
  display: none
}

.acf-panel.-open .acf-panel-inside {
  display: block
}

.postbox .acf-panel {
  margin-left: -12px;
  margin-right: -12px
}

.acf-panel .acf-field {
  margin: 20px 0 0
}

.acf-panel .acf-field .acf-label label {
  color: #555d66;
  font-weight: normal
}

.acf-panel .acf-field:first-child {
  margin-top: 0
}

#acf-admin-tools .notice {
  margin-top: 10px
}

.acf-meta-box-wrap {
  margin-top: 10px
}

.acf-meta-box-wrap .postbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.acf-meta-box-wrap .postbox .inside {
  margin-bottom: 0
}

.acf-meta-box-wrap .postbox .hndle {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4
}

.acf-meta-box-wrap .postbox .handlediv {
  display: none
}

.acf-meta-box-wrap .acf-fields {
  border: #ebebeb solid 1px;
  background: #fafafa;
  border-radius: 3px
}

.acf-meta-box-wrap.-grid {
  margin-left: 8px;
  margin-right: 8px
}

.acf-meta-box-wrap.-grid .postbox {
  float: left;
  clear: left;
  width: 50%;
  margin: 0 0 16px
}

.acf-meta-box-wrap.-grid .postbox:nth-child(odd) {
  margin-left: -8px
}

.acf-meta-box-wrap.-grid .postbox:nth-child(even) {
  float: right;
  clear: right;
  margin-right: -8px
}

@media only screen and (max-width: 850px) {
  .acf-meta-box-wrap.-grid {
    margin-left: 0;
    margin-right: 0
  }

  .acf-meta-box-wrap.-grid .postbox {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%
  }
}

#acf-admin-tool-export p {
  max-width: 800px
}

#acf-admin-tool-export ul {
  column-width: 200px
}

#acf-admin-tool-export .acf-postbox-side .button {
  margin: 0;
  width: 100%
}

#acf-admin-tool-export textarea {
  display: block;
  width: 100%;
  min-height: 500px;
  background: #fafafa;
  box-shadow: none;
  padding: 7px;
  border-radius: 3px
}

#acf-admin-tool-export .acf-panel-selection .acf-label {
  display: none
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .acf-loading,
  .acf-spinner {
    background-image: url(../images/spinner@2x.gif);
    background-size: 20px 20px
  }
}

@media only screen and (max-width: 850px) {
  .acf-columns-2 {
    margin-right: 0
  }

  .acf-columns-2 .acf-column-1,
  .acf-columns-2 .acf-column-2 {
    float: none;
    width: auto;
    margin: 0
  }
}
