html {
 background: $light;
}

/* Links */
a {
 color: #0073aa;
}

a:hover,
a:active,
a:focus {
 color: #0096dd;
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
 color: #0096dd;
}

/* Forms */
input[type=checkbox]:checked:before {
 color: $mystirling-blue;
}

input[type=radio]:checked:before {
 background: $mystirling-blue;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
 color: #0096dd;
}

/* Core UI */
.wp-core-ui .button-primary {
 background: $mystirling-blue;
 border-color: $mystirling-blue-dark $mystirling-blue-darker $mystirling-blue-darker;
 color: white;
 box-shadow: 0 1px 0 $mystirling-blue-darker;
 text-shadow: 0 -1px 1px $mystirling-blue-darker, 1px 0 1px $mystirling-blue-darker, 0 1px 1px $mystirling-blue-darker, -1px 0 1px $mystirling-blue-darker;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
 background: $mystirling-light;
 border-color: $mystirling-blue-darker;
 color: $white;
 box-shadow: 0 1px 0 $mystirling-blue-darker;
}

.wp-core-ui .button-primary:focus {
 box-shadow: inset 0 1px 0 $mystirling-blue-darker, 0 0 2px 1px #33b3db;
}

.wp-core-ui .button-primary:active {
 background: #148f77;
 border-color: $mystirling-blue-darker;
 box-shadow: inset 0 2px 0 $mystirling-blue-darker;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary.button-primary-disabled,
.wp-core-ui .button-primary.disabled {
 color: #c7d1cf !important;
 background: #15987e !important;
 border-color: $mystirling-blue-darker !important;
 text-shadow: none !important;
}

.wp-core-ui .button-primary.button-hero {
 box-shadow: 0 2px 0 $mystirling-blue-darker !important;
}

.wp-core-ui .button-primary.button-hero:active {
 box-shadow: inset 0 3px 0 $mystirling-blue-darker !important;
}

.wp-core-ui .wp-ui-primary {
 color: $white;
 background-color: $dark;
}

.wp-core-ui .wp-ui-text-primary {
 color: $dark;
}

.wp-core-ui .wp-ui-highlight {
 color: $white;
 background-color: $mystirling-blue;
}

.wp-core-ui .wp-ui-text-highlight {
 color: $mystirling-blue;
}

.wp-core-ui .wp-ui-notification {
 color: $white;
 background-color: $notification-color;
}

.wp-core-ui .wp-ui-text-notification {
 color: $notification-color;
}

.wp-core-ui .wp-ui-text-icon {
 color: #f1f2f3;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
 color: $white;
 background-color: $dark;
}

.view-switch a.current:before {
 color: $dark;
}

.view-switch a:hover:before {
 color: $notification-color;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
 background: $dark;
}

#adminmenu a {
 color: $white;
}

#adminmenu div.wp-menu-image:before {
 color: #f1f2f3;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
 color: $white;
 background-color: $mystirling-blue;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub>a.menu-top div.wp-menu-image:before {
 color: $white;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
 background-color: $light;
 border-bottom-color: $light;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
 background: $darker;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
 border-right-color: $darker;
}

#adminmenu .wp-submenu .wp-submenu-head {
 color: #c0c5cb;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
 color: #c0c5cb;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
 color: $mystirling-blue;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
 color: $white;
}

#adminmenu .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current   a:focus {
 color: $mystirling-blue;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
 border-right-color: $light;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
 color: $white;
 background: $mystirling-blue;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
 color: $white;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
 color: $white;
 background: $notification-color;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover>a .update-plugins {
 color: $white;
 background: $darker;
}

/* Admin Menu: collapse button */
#collapse-menu {
 color: #f1f2f3;
}

#collapse-menu:hover {
 color: $white;
}

#collapse-button div:after {
 color: #f1f2f3;
}

#collapse-menu:hover #collapse-button div:after {
 color: $white;
}

/* Admin Bar */
#wpadminbar {
 color: $white;
 background: $dark;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
 color: $white;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
 color: #f1f2f3;
}

#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
 color: $mystirling-blue;
 background: $darker;
}

#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label {
 color: $mystirling-blue;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
 color: $white;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
 background: $darker;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
 background: #3e5061;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
 color: #c0c5cb;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop>.ab-item:before {
 color: #f1f2f3;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
 color: $mystirling-blue;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
#wpadminbar .menupop .menupop>.ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
 color: $mystirling-blue;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
 color: #f1f2f3;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
 color: #f1f2f3;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
 color: $white;
 background: $dark;
}

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
 color: $white;
 opacity: 0.7;
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
 color: $white;
 opacity: 0.7;
}

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
 color: $white;
 opacity: 0.7;
}

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
 color: $white;
 opacity: 0.7;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
 border-color: $dark;
 background-color: $dark;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
 color: $white;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
 color: $mystirling-blue;
}

#wpadminbar #wp-admin-bar-user-info .username {
 color: #c0c5cb;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
 background-color: $mystirling-blue;
 border-color: $mystirling-blue-dark;
}

.wp-pointer .wp-pointer-content h3:before {
 color: $mystirling-blue;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
 border-bottom-color: $mystirling-blue;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
 background-color: $mystirling-blue;
}

.details.attachment {
 box-shadow: inset 0 0 0 3px $white, inset 0 0 0 7px $mystirling-blue;
}

.attachment.details .check {
 background-color: $mystirling-blue;
 box-shadow: 0 0 0 1px $white, 0 0 0 2px $mystirling-blue;
}

.media-selection .attachment.selection.details .thumbnail {
 -webkit-box-shadow: 0px 0px 0px 1px $white, 0px 0px 0px 3px $mystirling-blue;
 box-shadow: 0px 0px 0px 1px $white, 0px 0px 0px 3px $mystirling-blue;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
 background: $mystirling-blue;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
 color: $mystirling-blue;
}

.theme-section.current,
.theme-filter.current {
 border-bottom-color: $dark;
}

body.more-filters-opened .more-filters {
 color: $white;
 background-color: $dark;
}

body.more-filters-opened .more-filters:before {
 color: $white;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
 background-color: $mystirling-blue;
 color: $white;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
 color: $white;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
 background-color: $mystirling-blue;
 color: $white;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
 color: $white;
}

/* Customize */
#customize-theme-controls .widget-area-select .selected {
 background-color: $mystirling-blue;
 color: $white;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
 color: #f1f2f3;
}

.wp-responsive-open div#wp-responsive-toggle a {
 border-color: transparent;
 background: $mystirling-blue;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
 background: $darker;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
 color: #f1f2f3;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
 background: $mystirling-blue;
}
