#add_gform,
#ame-plugin-menu-notice,
#contextual-help-link,
#cpac #ac-pro-version,
#cpac #direct-feedback,
#cpac #plugin-support,
#cpto #cpt_info_box,
#plugins-by-dreihochzwo,
#plugins-by-john-huebner,
#try-gutenberg-panel,
#welcome-panel,
#wp-admin-bar-analytify,
#wp-admin-bar-comments,
#wp-admin-bar-new-content,
#wp-admin-bar-su-menu,
#wp-admin-bar-updates,
#wp-admin-bar-wp-logo,
#wpfooter,
#ws-pro-version-notice,
#ws_ame_how_to_box,
#ws_sidebar_pro_ad,
.about-wrap .extranotes,
.ac-message.updated,
.analytify_general_status.analytify_general_status-gif,
.error.fade,
.frash-notice,
.notice-warning,
.smush-notice,
.update-nag,
.update-plugins,
.wcp-editor-button-preview,
.wcp-editor-main-button[data-wcp-editor-main-button-name="activate"],
.wcp-editor-main-button[data-wcp-editor-main-button-name="fullscreen"],
.wcp-editor-main-button[data-wcp-editor-main-button-name="help"],
.wcp-form-tab[data-wcp-form-group="actions"],
.wcp-form-tab[data-wcp-form-group="custom_code"],
.wcp-form-tab[data-wcp-form-group="default_style"],
.wcp-form-tab[data-wcp-form-group="fullscreen"],
.wcp-form-tab[data-wcp-form-group="general"] .fa.fa-plus,
.wcp-form-tab[data-wcp-form-group="layers"] .fa.fa-plus,
.wcp-form-tab[data-wcp-form-group="mouseover_style"],
.wcp-form-tab[data-wcp-form-group="shapes"],
.wcp-form-tab[data-wcp-form-group="shapes_menu"],
.wcp-form-tab[data-wcp-form-group="tooltip"],
.wcp-form-tab[data-wcp-form-group="zooming"],
.wcp-tour-root-simple,
.wcp-tour-root-simple *,
.wdspromos,
.woocommerce-message,
.wp-admin #wp-analytify-help-tab,
.wp-admin .pro-feature-wrapper,
.wp-admin .wp-analytify-premium,
.wp-admin.index-php #wpbody .wrap>.updated,
.wp-pointer-left,
.menu_pto,
#footer-thankyou,
#acf-to-rest-api-settings>p:last-of-type,
#wp-admin-bar-site-name .ab-sub-wrapper,
#collapse-button,
.jitm-card,
.jitm-banner,
.ac-notice.notice
#wp-mail-smtp-pro-banner, 
#wp-mail-smtp-setting-row-license-heading, 
#wp-mail-smtp-setting-row-license_key, 
.wp-mail-smtp-header-logo,
.notice.is-dismissible,
.ac-notice.notice.notice-info,
.wpallimport-created-by,
.wpallimport-links
{
 display: none !important;
}

.wpallimport-import-types > a {
  height: 65px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

span.wpallimport-icon {
  top: 0px !important;
  height: 30px !important;
  width: 30px !important;
  background-size: contain !important;
  background-position: center -15px !important;
  background-repeat: no-repeat !important;
}

.acf-column-2 {
  visibility: hidden;
}

/* *** START *** CLIENT DASHBOARD CLEANUP */

#dashboard_primary,
#dashboard_quick_press 
{
  display: none !important;
}
.tsf-primary-term-selector {
  margin-left: 10px;
}

/* ***  END  *** CLIENT DASHBOARD CLEANUP */

.wcp-form-tab[data-wcp-form-group="shapes"],
.wcp-form-tab[data-wcp-form-group="fullscreen"],
.wcp-form-tab[data-wcp-form-group="zooming"],
.wcp-form-tab[data-wcp-form-group="shapes_menu"],
.wcp-form-tab[data-wcp-form-group="custom_code"],
.wcp-form-tab[data-wcp-form-group="actions"],
.wcp-form-tab[data-wcp-form-group="default_style"],
.wcp-form-tab[data-wcp-form-group="mouseover_style"],
.wcp-form-tab[data-wcp-form-group="tooltip"],
#wcp-editor-button-preview,
.wcp-editor-main-button[data-wcp-editor-main-button-name="fullscreen"] {
 display: none !important;
}

#wpadminbar ul#wp-admin-bar-root-default>li {
  display: none;
}

#wpadminbar #wp-admin-bar-root-default>li#wp-admin-bar-site-name {
  display: list-item !important;
}

#adminmenu {
 margin-top: 0 !important;
}

#adminmenu .wp-menu-separator {
 border-bottom: 2px solid rgba(255, 255, 255, 0.11);
}
#wpadminbar {
  background: $base-color !important;
}
#wp-admin-bar-site-name > .ab-item {
  color: $secondary !important;
  font-size: 14px !important;
}
#wpadminbar ul#wp-admin-bar-root-default>li>a::before {
  display: none;
}
#wpadminbar ul#wp-admin-bar-root-default>li {
  margin-right: 0;
  text-align: center;
}

#wp-admin-bar-site-name>.ab-item {
 min-width: 145px;
 font-weight: 500;
 letter-spacing: 1px;
 text-transform: uppercase;
 font-size: 16px;
 color: $mystirling-blue !important;
}

#wp-admin-bar-site-name>.ab-item::before {
 opacity: 0;
}

.wcp-form-form-control label {
 font-size: 12px;
}

#post .acf-field .acf-radio-list.acf-hl li input {
 vertical-align: text-top;
}

#post .acf-field .acf-radio-list.acf-hl li {
 margin-bottom: .125rem;
 font-size: 1rem;
 font-weight: 500;
 margin-right: 1rem;
 min-height: 32px;
}

.wcp-form-tab[data-wcp-form-group="general"]>.wcp-form-tab-content,
.wcp-form-tab[data-wcp-form-group="layers"]>.wcp-form-tab-content {
 display: flex !important;
}

.wcp-form-tab[data-wcp-form-group="general"] .fa.fa-minus,
.wcp-form-tab[data-wcp-form-group="layers"] .fa.fa-minus {
 display: inline-block !important;
}

#wcp-editor-modal .wcp-form-form-control input {
 padding-top: 4px;
 padding-bottom: 4px;
}

#wcp-editor-right #wcp-editor-object-settings {
 flex: 0 1 auto !important;
}

#wcp-editor-object-list-wrap {
 background: $light !important;
}

#wcp-form-form-control-shape_title input {
 font-size: 18px !important;
 line-height: 1.5 !important;
 height: 34px;
}

#wcp-form-form-control-shape_title label {
 line-height: 14px;
 position: relative;
 top: 3px;
 font-weight: 700;
}

#select-canvas-layer {
 font-size: 16px !important;
 font-weight: 500 !important;
 border-radius: 3px;
 padding: 2px 4px !important;
 height: 29px !important;
 cursor: pointer !important;
 background: $white !important;
 border: 1px solid #bcbcbc !important;
}

.column-acf_field.cacie-editable-container.cacie-empty {
 border: 2px solid $action-color;
 background: rgba(213, 78, 33, 0.08);
 box-sizing: content-box;
}

.cacie-editable .ac-image {
 margin: 0;
}

.inner.cacie-editable {
 white-space: nowrap;
 text-overflow: ellipsis;
 width: 100%;
 max-width: 100%;
 max-height: 60px;
 overflow: hidden;
 position: relative;
}

.wcp-form-control-switch.active {
 background: $darker;
}

table.acf-smart-button-fields label {
 text-transform: capitalize;
}

.wrap.ame-is-free-version>.updated {
 display: none !important;
}

#imp-editor-shape-tooltip {
 font-family: "Roboto", "SF Pro Display", "Avenir", Roboto, Helvetica, Arial, sans-serif !important;
 font-size: 1.125rem !important;
 padding: 16px 22px !important;
 line-height: 1.4 !important;
}

#imp-editor-shape-tooltip p {
 margin: 0;
}

.imp-editor-shape.imp-editor-text {
 background-color: $dark !important;
 color: rgb(255, 255, 255) !important;
 width: auto;
 text-align: center;
 line-height: 1;
 padding: .5rem .420625rem;
 border-radius: 2rem;
 cursor: pointer;
 transition: background-color 0.05s linear, color 0.05s linear;
}

.imp-editor-shape.imp-editor-text:hover,
.imp-editor-shape.imp-editor-text:focus,
.imp-editor-shape.imp-editor-text:active {
 background-color: $darker !important;
 color: $mystirling-blue !important;
}

#adminmenu .wp-menu-image img {
 opacity: 1;
}

.wp-list-table a {
 white-space: pre-wrap;
 word-break: break-all;
}

#wcp-editor-object-settings {
 right: 250px;
 position: absolute;
 width: 295px;
 z-index: 2;
 overflow: visible !important;
 border: 0 !important;
}

.medium-toolbar-arrow-under:after {
 border-color: #000 transparent transparent transparent;
 top: 40px;
}

.medium-toolbar-arrow-over:before {
 border-color: transparent transparent #000 transparent;
}

// .toping {
//  display: flex;
//  align-items: center;
//  justify-content: flex-start;
// }

// .toping .clear {
//  background: $highlight-color;
//  border-color: $highlight-color-dark $highlight-color-darker $highlight-color-darker;
//  color: white;
//  box-shadow: 0 1px 0 $highlight-color-darker;
//  text-shadow: 0 -1px 1px $highlight-color-darker, 1px 0 1px $highlight-color-darker, 0 1px 1px $highlight-color-darker, -1px 0 1px $highlight-color-darker;
//  height: 30px;
//  line-height: 28px;
//  padding: 0 12px 2px;
//  text-align: center;
//  cursor: pointer;
//  border-width: 1px;
//  border-style: solid;
//  -webkit-appearance: none;
//  border-radius: 3px;
//  white-space: nowrap;
//  box-sizing: border-box;
//  font-size: 13px;
//  margin: 0 0 0 5px;
// }

// .toping .rgbatext {
//  height: 30px;
//  line-height: 28px;
//  padding: 0 12px 2px;
//  text-align: center;
//  cursor: pointer;
//  border-width: 1px;
//  border-style: solid;
//  -webkit-appearance: none;
//  border-radius: 3px;
//  white-space: nowrap;
//  box-sizing: border-box;
//  font-size: 13px;
//  margin: 0 0 0 5px;
//  text-transform: lowercase;
//  font-weight: 700;
// }

// .toping .minicolors input[type=hidden]+.minicolors-swatch {
//  width: 34px;
//  height: 27px;
//  position: static;
//  cursor: pointer;
//  border-radius: 3px;
// }

// .toping .minicolors-swatch-color {
//  border-radius: 3px !important;
// }

.CodeMirror.cm-s-solarized {
 background: $base-color !important;
}
