body.login.wp-core-ui {
  background: $darker !important;
  color: $text-muted;
  #login {
    h1 {
      width: 100%;
      display: block !important;
      height: 86px;
      background: #0f0 !important;
      
       a {
         display: none !important;
       }
    }
  }
}

