#app {
    display: block;
    position: fixed;
    top: 94px;
    right: 30px;
    width: auto;
    max-width: 278px;
    box-sizing: content-box;
    transition: opacity 0.15s linear !important;
    will-change: opacity;

    border: 0;
    z-index: -1;
    *, *::before, *::after {
      box-sizing: content-box;
    }
    .alpha {
      margin-top: 0;
    }
}

#wpwrap.show-picker #app {
  z-index: 2099;
}

#wpwrap.show-picker #app .loadedColorPicker {
  display: block !important;
  opacity: 1 !important;
}

#wpbody {
  .acf-field {

    &.acf-field-extended-color-picker {
      .acf-color-picker {
        > .wp-picker-container {
          > .button {
            display: block;
            width: 100%;
            border: 1px solid #d4d4d4;
            text-transform: unset;
            font-weight: 500;
            margin-bottom: 6px !important;
          }
          > .wp-picker-input-wrap {
            width: 100%;
            display: flex;
            > label {
              width: calc(100% - 54px) !important;
              display: inline-block !important;
              > input {
                width: 100% !important;
                display: block !important;
              }
            }
            > .button {
              width: 54px !important;
              display: inline-block !important;
            }
          }
          input[type=text].wp-color-picker {
              font-family: $font-family-roboto !important;
              font-size: 14px !important;
              padding-left: 8px !important;
          }
        }
      }
    }

  }
}