.b-0 {
 border: 0 !important;
}

#footer-thankyou,
.plugin-update .update-message,
.wcp-tour-root-simple {
 display: none !important;
}

#acf-field_5d15d915f57ef {
  display: none;
}

#acf-field-5d15d915f57ef-preview img {
  margin: 0 auto;
  display: block;
  max-width: 600px;
  max-height: 420px;
  width: 100%;
  object-fit: contain;
}

#acf-field-5d15d915f57ef-preview {
  height: 420px;
  display: block;
  width: 100%;
}

#toplevel_page_gf_edit_forms .wp-menu-image.svg {
 background-image: url('https://s3-ap-southeast-2.amazonaws.com/loaded-public/loaded-static/img/form-edit.png') !important;
 background-repeat: no-repeat !important;
 background-position: center center !important;
 background-size: 20px 20px !important;
}

.theme-id-container .theme-name {
 height: 48px !important;
 background: #1c9b99 !important;
 font-weight: 500 !important;
 color: #fff;
}

#toplevel_page_pmxi-admin-home img {
  padding: 5px 0 0 0 !important;
}

.tablenav.top>div {
 padding: 0 !important;
 margin: 0 !important;
}

.tablenav.top>div,
.tablenav.top>div a,
.tablenav.top>div .button,
.tablenav.top>div select,
.tablenav.top>div label {
 font-size: 12px !important;
 line-height: 1 !important;
 min-height: 30px !important;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 box-sizing: content-box !important;
 border-radius: 3px !important;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
}

.tablenav.top {
 display: flex;
 align-items: center;
 justify-content: start;
 margin-bottom: 8px;
}

#pageparentdiv {
 .hndle{
  margin-bottom: 12px !important;
 }

 .inside {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p label {
   margin: 0;
   line-height: 1;
  }

  p,
  input,
  select {
   display: none;
  }

  p:nth-child(3),
  label,
  #page_template {
   display: inline-block !important;
   margin: 0;
   line-height: 1.5;
  }
 }
}

.tablenav.top .ac-table-actions .ac-table-button .dashicons {
 height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.tablenav .one-page .displaying-num {
 margin-left: 10px;
}

.tablenav.top .ac-table-actions .button.ac-button__add-filter {
 display: none;
}

.actions {
 select {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0 !important;
  height: 30px;
 }

 .button {
  padding: 0 6px;
  height: 26px !important;
  margin-top: 2px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff !important;
 }
}

#wpbody-content .updated {
 display: none !important;
}


#post-body.columns-2 #postbox-container-1 {
 float: right;
 margin-right: -272px;
 width: 240px;
}

a {
 color: $link;

 &:hover,
 &:active,
 &:focus {
  color: $link-focus;
 }
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
 color: $link-focus;
}

/* Forms */
input[type=checkbox]:checked:before {
 color: $form-checked;
}

input[type=radio]:checked:before {
 background: $form-checked;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
 color: $link-focus;
}

/* Core UI */
.wp-core-ui {
 .button-primary {
  @include button($button-color);
 }

 .wp-ui-primary {
  color: $text-color;
  background-color: $base-color;
 }

 .wp-ui-text-primary {
  color: $base-color;
 }

 .wp-ui-highlight {
  color: $menu-highlight-text;
  background-color: $menu-highlight-background;
 }

 .wp-ui-text-highlight {
  color: $menu-highlight-background;
 }

 .wp-ui-notification {
  color: $menu-bubble-text;
  background-color: $menu-bubble-background;
 }

 .wp-ui-text-notification {
  color: $menu-bubble-background;
 }

 .wp-ui-text-icon {
  color: $menu-icon;
 }
}

/* List tables */
.wrap .add-new-h2:hover,
/* deprecated */
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
 color: $menu-text;
 background-color: $menu-background;
}

.view-switch a.current:before {
 color: $menu-background;
}

.view-switch a:hover:before {
 color: $menu-bubble-background;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
 background: $menu-background;
}

#adminmenu a {
 color: $menu-text;
}

#adminmenu div.wp-menu-image:before {
 color: $menu-icon;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
 color: $menu-highlight-text;
 background-color: $menu-highlight-background;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub>a.menu-top div.wp-menu-image:before {
 color: $menu-highlight-icon;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
 background-color: $body-background;
 border-bottom-color: $body-background;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
 background: $menu-submenu-background;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
 border-right-color: $menu-submenu-background;
}

#adminmenu .wp-submenu .wp-submenu-head {
 color: $menu-submenu-text;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
 color: $menu-submenu-text;

 &:focus,
 &:hover {
  color: $menu-submenu-focus-text;
 }
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
 color: $menu-submenu-current-text;

 &:hover,
 &:focus {
  color: $menu-submenu-focus-text;
 }
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
 border-right-color: $body-background;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
 color: $menu-current-text;
 background: $menu-current-background;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
 color: $menu-current-icon;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
 color: $menu-bubble-text;
 background: $menu-bubble-background;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover>a .update-plugins {
 color: $menu-bubble-current-text;
 background: $menu-bubble-current-background;
}

/* Admin Menu: collapse button */
#collapse-menu {
 color: $menu-collapse-text;
}

#collapse-menu:hover {
 color: $menu-collapse-focus-text;
}

#collapse-button div:after {
 color: $menu-collapse-icon;
}

#collapse-menu:hover #collapse-button div:after {
 color: $menu-collapse-focus-icon;
}

/* Admin Bar */
#wpadminbar {
 color: $menu-text;
 background: $menu-background;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
 color: $menu-text;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
 color: $menu-icon;
}

#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
 color: $menu-submenu-focus-text;
 background: $menu-submenu-background;
}

#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label {
 color: $menu-submenu-focus-text;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
 color: $menu-highlight-icon;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
 background: $menu-submenu-background;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
 background: $menu-submenu-background-alt;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
 color: $menu-submenu-text;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop>.ab-item:before {
 color: $menu-icon;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
 color: $menu-submenu-focus-text;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
#wpadminbar .menupop .menupop>.ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
 color: $menu-submenu-focus-text;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
 color: $menu-icon;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
 color: $menu-icon;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
 color: $menu-text;
 background: $adminbar-input-background;
}

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
 color: $menu-text;
 opacity: 0.7;
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
 color: $menu-text;
 opacity: 0.7;
}

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
 color: $menu-text;
 opacity: 0.7;
}

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
 color: $menu-text;
 opacity: 0.7;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
 border-color: $adminbar-avatar-frame;
 background-color: $adminbar-avatar-frame;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
 color: $menu-text;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
 color: $menu-submenu-focus-text;
}

#wpadminbar #wp-admin-bar-user-info .username {
 color: $menu-submenu-text;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
 background-color: $highlight-color;
 border-color: darken($highlight-color, 5%);
}

.wp-pointer .wp-pointer-content h3:before {
 color: $highlight-color;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
 border-bottom-color: $highlight-color;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
 background-color: $highlight-color;
}

.details.attachment {
 box-shadow:
  inset 0 0 0 3px #fff,
  inset 0 0 0 7px $highlight-color;
}

.attachment.details .check {
 background-color: $highlight-color;
 box-shadow: 0 0 0 1px #fff, 0 0 0 2px $highlight-color;
}

.media-selection .attachment.selection.details .thumbnail {
 -webkit-box-shadow:
  0px 0px 0px 1px #fff,
  0px 0px 0px 3px $highlight-color;
 box-shadow:
  0px 0px 0px 1px #fff,
  0px 0px 0px 3px $highlight-color;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
 background: $highlight-color;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
 color: $highlight-color;
}

.theme-section.current,
.theme-filter.current {
 border-bottom-color: $menu-background;
}

body.more-filters-opened .more-filters {
 color: $menu-text;
 background-color: $menu-background;
}

body.more-filters-opened .more-filters:before {
 color: $menu-text;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
 background-color: $menu-highlight-background;
 color: $menu-highlight-text;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
 color: $menu-highlight-text;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
 background-color: $menu-highlight-background;
 color: $menu-highlight-text;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
 color: $menu-highlight-text;
}

/* Customize */
#customize-theme-controls .widget-area-select .selected {
 background-color: $menu-highlight-background;
 color: $menu-highlight-text;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
 color: $menu-icon;
}

.wp-responsive-open div#wp-responsive-toggle a {
 // ToDo: make inset border
 border-color: transparent;
 background: $menu-highlight-background;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
 background: $menu-submenu-background;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
 color: $menu-icon;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
 background: $highlight-color;
}

#collapse-button .collapse-button-label {
 font-size: 8px;
}

.wp-core-ui .button {
 box-shadow: none !important;
 text-shadow: none !important;
 border-color: #2b9af3;
 background: #20acaa;
 font-weight: 400;
 color: #fff;

 &:hover,
 &:active,
 &:focus {
  border-color: #2b9af3;
  background: #1c9b99;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #fff;
 }

 &.disabled {
  color: #c7d1cf !important;
  background: #126d6b !important;
  border-color: #2274b8 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  opacity: .8 !important;
  cursor: not-allowed;
 }
}
