#query-monitor-main {
  display: none;
}

.post-type-page .inside.acf-fields>.acf-field.acf-field-group.acf-next-page-flexi .acf-field-columngroup {
  border-top: 0 !important;
}

.post-type-page .acf-field-columngroup>.acf-field.mb-3 {
  margin-bottom: 1rem !important;
}

.post-type-page .acf-field-columngroup>.acf-field.mt-3 {
  margin-top: 1rem !important;
}

#wpwrap .preview-svg input {
  opacity: 0 !important;
  visibility: hidden !important;
  height: 1px !important;
}

.acf-image-uploader .image-wrap img[src$=".svg"] {
  min-height: 100px;
  min-width: 100px;
  object-fit: contain;
}


.acf-label b,
.acf-input b {
  font-weight: 500 !important;
}

.post-type-page .layout .acf-field.acf-field-group[data-name="svg_image_map_block"]>.acf-input>.acf-fields .acf-field-columngroup {
  margin-top: .5rem !important;
  border: 0 !important;
}

.acf-field.acf-field-button-group[data-name="delete_cached_image"] .acf-input {
  margin: 0 auto 1.25rem auto;
}

.acf-field.acf-field-button-group[data-name="delete_cached_image"] .acf-label {
  max-width: 24rem;
  margin-bottom: 0;
}

.section-container-apartments .section-container-custom-background-texture,
.section-container-apartments .acf-field-5cf9468c6d0bc {
  display: none !important;
}

.acf-field.acf-field-image .show-if-value.image-wrap {
  background: #000;
}

.acf-field.acf-field-text.menu-anchor-tag .acf-input {
  margin-top: 6px !important;
}

.acf-field.acf-field-text.menu-anchor-tag label,
.acf-field.acf-field-unique-id label {
  font-size: 12px;
  text-align: center;
}

span.minicolors-swatch-color {
  border: 1px solid #ccc;
}

.acf-image-uploader .image-wrap img {
  background: url('../img/bg-pattern.png') !important;
}

.button.insert-media.add_media,
.wp-media-buttons .wp-media-buttons-icon::before {
  color: #fff !important;
}

.wp-admin {

  .acf-field.acf-field-button-group.section-container-custom-padding-bot .acf-button-group.-vertical label:nth-child(2n),
  .acf-field.acf-field-button-group.section-container-custom-padding-top .acf-button-group.-vertical label:nth-child(2n) {
    border-right: 0 !important;
  }

  .acf-field.acf-field-unique-id.acf-guid {
    padding-left: 6px !important;
    position: relative;
    top: 5px;
  }

  .select2-search.select2-search--dropdown {
    display: none !important;
  }

  .select2-results__option--highlighted {
    background: #20acaa !important;
  }

  li.select2-results__option {
    font-size: 14px !important;
    padding: 4px 6px !important;
    font-family: $font-family-roboto !important;
  }

  .select2 {
    font-family: $font-family-roboto !important;
    font-size: 14px !important;
  }

  .select2-selection--single {
    outline: 0 !important;
  }
}

#wpbody {
  .acf-smart-button-fields input.external {
    padding-left: 26px;
  }

  .acf-field.acf-field-group.acf-contact-form-block>.acf-input>.acf-fields>.acf-field.acf-field-gravity-forms-field {
    width: 40%;
    margin-top: 6px;
  }

  .acf-field.acf-field-group.acf-contact-form-block>.acf-input>.acf-fields>.acf-field.heading-field-group {
    width: 60%;
    padding-right: 0 !important;
  }

  .acf-field.acf-field-group.acf-contact-form-block>.acf-input>.acf-fields>.acf-field.heading-field-group .acf-field.heading-field-heading {
    max-width: 100% !important;
    width: 100% !important;
  }

  .acf-field.acf-field-group.acf-contact-form-block>.acf-input>.acf-fields .heading-field-heading-contain {
    display: none !important;
  }

  .acf-field.acf-field-group.acf-contact-form-block>.acf-input>.acf-fields {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .widefat th a {
    padding: 6px 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;

    >span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: calc(100% - 14px);
      max-width: calc(100% - 14px);
      margin: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.sorting-indicator {
        width: 20px !important;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 14px;
      }
    }
  }

  .acf-field p.description {
    margin-bottom: 12px;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
  }

  .acf-fields>.acf-field.acf-field-smart-button {
    padding: 6px 6px 6px 12px !important;
    max-width: calc(100% - 312px) !important;
    width: 100% !important;
  }
}

.btn-open-section {
  border: 1px solid #c6c6c6;
  background: #d7d9db;
  color: #000;
  height: 18px;
  width: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 10.5px;
  border-radius: 2px;
  line-height: 18px;
  margin-left: 10px;
}

.texture-img {
  max-width: calc(100% + 20px);
  display: block;
  max-height: 52px;
  height: 52px;
  width: calc(100% + 20px);
  object-fit: cover;
  margin-top: 6px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -5px;
}

.layout {
  label.radio-negative {
    background: #a2a2a2 !important;
    border-color: #a7a7a7 !important;
    color: #e3e3e3 !important;
  }

  label.selected.radio-negative {
    background: #555555 !important;
    border-color: #525252 !important;
  }

  .acf-field-smart-button input.text {
    background-color: $body-bg;
  }

  .acf-field-medium-editor {

    &[data-name="heading"],
    &.medium-editor-heading {
      .medium-editor-element {
        color: $body-color;

        * {
          color: $body-color;
        }
      }
    }
  }

  &[data-heading-color="primary"] {
    .acf-field-medium-editor {

      &[data-name="heading"],
      &.medium-editor-heading {
        .medium-editor-element {
          color: $primary !important;

          * {
            color: $primary !important;
          }
        }
      }
    }
  }

  &[data-heading-color="secondary"] {
    .acf-field-medium-editor {

      &[data-name="heading"],
      &.medium-editor-heading {
        .medium-editor-element {
          color: $secondary !important;

          * {
            color: $secondary !important;
          }
        }
      }
    }
  }

  &[data-section-bg="bg-light"] {
    .medium-editor-element {
      background-color: $light !important;
      color: $black;

      * {
        color: $black;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $light !important;
    }
  }

  &[data-section-bg="bg-dark"] {
    .medium-editor-element {
      background-color: $dark !important;
      color: $white;

      * {
        color: $white;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $dark !important;
    }
  }

  &[data-section-bg="bg-darker"] {
    .medium-editor-element {
      background-color: $darker !important;
      color: $white;

      * {
        color: $white;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $darker !important;
    }
  }

  &[data-section-bg="bg-mystirling-blue"] {
    .medium-editor-element {
      background-color: $mystirling-blue !important;
      color: $black;

      * {
        color: $black;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $mystirling-blue !important;
    }
  }

  &[data-section-bg="bg-white"] {
    .medium-editor-element {
      background-color: $white !important;
      color: $black;

      * {
        color: $black;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $white !important;
    }
  }

  &[data-section-bg="bg-primary"] {
    .medium-editor-element {
      background-color: $primary !important;
      color: $white;

      * {
        color: $white;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $primary !important;
    }
  }

  &[data-section-bg="bg-secondary"] {
    .medium-editor-element {
      background-color: $secondary !important;
      color: $white;

      * {
        color: $white;
      }
    }

    .acf-field-smart-button input.text {
      background-color: $secondary !important;
    }
  }

  .acf-field-smart-button input.text {
    &[data-input-color="body-color"] {
      color: $body-color !important;
    }

    &[data-input-color="light"] {
      color: $light !important;
    }

    &[data-input-color="white"] {
      color: $white !important;
    }

    &[data-input-color="dark"] {
      color: $dark !important;
    }

    &[data-input-color="black"] {
      color: $black !important;
    }

    &[data-input-color="secondary"] {
      color: $secondary !important;
    }

    &[data-input-color="primary"] {
      color: $primary !important;
    }
  }
}

.bg-black {
  background-color: $black !important;
  color: $white !important;
}

.bg-white {
  background-color: $white !important;
  color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
  color: $white !important;
}

.bg-primary-light {
  background-color: $primary-light !important;
  color: $black !important;
}

.bg-primary-dark {
  background-color: $primary-dark !important;
  color: $white !important;
}

.bg-primary-active {
  background-color: $primary-active !important;
  color: $white !important;
}

.bg-primary-inactive {
  background-color: $primary-inactive !important;
  color: $white !important;
}

.bg-secondary {
  background-color: $secondary !important;
  color: $white !important;
}

.bg-secondary-light {
  background-color: $secondary-light !important;
  color: $black !important;
}

.bg-secondary-dark {
  background-color: $secondary-dark !important;
  color: $white !important;
}

.bg-secondary-active {
  background-color: $secondary-active !important;
  color: $white !important;
}

.bg-secondary-inactive {
  background-color: $secondary-inactive !important;
  color: $white !important;
}

.bg-light {
  background-color: $light !important;
  color: $black !important;
}

.bg-dark {
  background-color: $dark !important;
  color: $white !important;
}

.bg-darker {
  background-color: $darker !important;
  color: $white !important;
}

.bg-mystirling-blue {
  background-color: $mystirling-blue !important;
  color: $black !important;
}

.bg-text-muted {
  background-color: $text-muted !important;
  color: $black !important;
}

ul {
  margin-top: 8px;
  margin-bottom: 8px;

  >li {
    >label {
      margin-bottom: 0;

      >span {
        margin-left: 4px;
      }
    }
  }

  >li.tabs {
    margin: 0 !important;
    padding: 6px 10px 8px !important;
    display: inline-block !important;
  }
}

#category-tabs {
  margin-bottom: 0 !important;
}

.acf-field-smart-button {
  table.acf-smart-button-fields {
    margin-top: 10px;
  }

  .select2-selection--single {
    margin: 0 !important;
  }

  input.text {
    font-family: $font-family-buttons !important;
    letter-spacing: 2.4px;
    font-family: $font-family-buttons !important;
    font-weight: $font-weight-normal !important;
    text-transform: uppercase;
    line-height: 1 !important;
    font-size: 0.875rem !important;
    color: #000 !important;
    padding: 4px 6px !important;
    margin-bottom: 0.3125rem;
  }
}

.acfgfs-preview {
  font-size: 24px !important;
  margin-top: 11px;
  background: #fafafa;
  padding: 11px;
  line-height: 1.2 !important;
}

#wpbody {
  .medium-editor-element {
    transition: all 0.3s ease-in-out;
    outline: none;

    &:focus {
      box-shadow: 0 0 3px $mystirling-blue;
      border-color: $mystirling-blue;
    }
  }

  #side-sortables {
    transition: opacity 0.15s linear 0.15s !important;
    will-change: opacity;
    opacity: 1;

    &.hide {
      opacity: 0;
      pointer-events: none;
      z-index: 0;
    }
  }

  .layout {
    &[data-layout="content-offset-image-block"] {
      .acf-fields {
        >.column-layout-1_2 {
          &:nth-child(2) {
            padding-right: 0 !important;
            padding-left: 6px !important;
          }

          &:nth-child(3) {
            padding-left: 0 !important;
            padding-right: 6px !important;
          }
        }
      }

      .acf-field-medium-editor {

        &[data-name="heading"],
        &.medium-editor-heading {
          // max-width: calc(100% - 106px) !important;
          // width: calc(100% - 106px) !important;
          display: inline-block;
        }
      }
    }
  }
}

.acf-field {
  &.acf-field-acf-code-field.acf-map-styling-code {
    .CodeMirror pre {
      white-space: pre-wrap !important;
      word-break: break-all !important;
    }
  }

  &.acf-field {
    >label {
      display: none !important;
    }
  }

  &.acf-field-medium-editor {

    &[data-name="heading"],
    &.medium-editor-heading {
      .medium-editor-element {
        font-size: $h2-font-size;
        font-family: $headings-font-family;
        font-weight: $font-weight-normal;
        letter-spacing: .25px;
        line-height: 1.2;
        padding-top: 8px !important;
        padding-bottom: 8px !important;

        a,
        span,
        p,
        li {
          font-size: $h2-font-size;
          font-family: $headings-font-family;
          font-weight: $font-weight-normal;
          letter-spacing: .25px;
          line-height: 1.2;
        }
      }
    }

    &[data-name="subheading"],
    &.medium-editor-subheading {
      .medium-editor-element {
        font-size: $h4-font-size;
        font-family: $headings-font-family;
        font-weight: $font-weight-normal;
        letter-spacing: .25px;
        line-height: 1.5;

        a,
        span,
        p,
        li {
          font-size: $h4-font-size;
          font-family: $headings-font-family;
          font-weight: $font-weight-normal;
          letter-spacing: .25px;
          line-height: 1.5;
        }
      }
    }

    &[data-name="content_field"],
    &.medium-editor-content {
      .medium-editor-element {
        font-family: $font-family-sans-serif;
        font-size: 18px;
        font-weight: $font-weight-normal;
        line-height: 1.5;

        a,
        span,
        p,
        li {
          font-family: $font-family-sans-serif;
          font-size: 18px;
          font-weight: $font-weight-normal;
          line-height: 1.5;
        }
      }
    }
  }

  &.image-gallery-block-image-gallery {
    max-width: calc(100% - 132px);
    width: calc(100% - 132px);
    display: inline-block;
  }

  &.image-gallery-block-has-content {
    width: 132px;
    max-width: 132px;
    display: inline-block;
  }

  &.heading-field-heading {
    max-width: calc(100% - 84px);
    width: calc(100% - 84px);
    padding-right: 0 !important;
    display: inline-block;
  }

  &.heading-field-subheading {
    max-width: 100%;
    width: 100%;
    display: inline-block;
  }

  &.img-group-img-img {
    max-width: calc(100% - 150px);
    width: 100%;
    display: inline-block;
  }

  &.image-gallery-block-content-field {
    width: 100%;
  }

  &.heading-field-group,
  &.image-gallery-group {
    >.acf-input {
      >.acf-fields {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }

  &.acf-field-button-group {
    &.heading-field-heading-contain {
      max-width: 84px;
      width: 100%;
      display: inline-block;

      .acf-button-group.-vertical,
      label {
        width: 100%;
      }
    }

    &.img-group-img-src {
      max-width: 150px;
      width: 100%;
      display: inline-block;
    }

    &.heading-field-heading-color {
      max-width: 100% !important;
      width: 116px !important;
      display: inline-block;

      >.acf-input {
        >.acf-button-group {
          width: 100%;

          >label:nth-child(1) {
            background: $secondary;
            color: $white;
          }

          >label:nth-child(2) {
            background: $primary;
            color: $white;
          }

          >label:nth-child(3) {
            background: $dark;
            color: $white;
          }

          >label:nth-child(4) {
            background: $white;
            color: $dark;
          }
        }
      }
    }

    &.button-field-theme-color {
      max-width: 100% !important;
      width: 156px !important;
      display: inline-block;

      &[data-name="button_color"] {
        >.acf-input {
          >.acf-button-group {
            width: 100%;

            >label:nth-child(1) {
              background: $body-bg;
              color: $body-color;
            }

            >label:nth-child(2) {
              background: $light;
              color: $black;
            }

            >label:nth-child(3) {
              background: $white;
              color: $black;
            }

            >label:nth-child(4) {
              background: $dark;
              color: $white;
            }

            >label:nth-child(5) {
              background: $black;
              color: $white;
            }

            >label:nth-child(6) {
              background: $secondary;
              color: $white;
            }

            >label:nth-child(7) {
              background: $primary;
              color: $black;
            }
          }
        }
      }

      &[data-name="button_hover_color"] {
        >.acf-input {
          >.acf-button-group {
            width: 100%;

            >label:nth-child(1) {
              background: $primary;
              color: $black;
            }

            >label:nth-child(2) {
              background: $secondary;
              color: $white;
            }

            >label:nth-child(3) {
              background: $dark;
              color: $white;
            }

            >label:nth-child(4) {
              background: $body-bg;
              color: $body-color;
            }

            >label:nth-child(5) {
              background: $light;
              color: $black;
            }

            >label:nth-child(6) {
              background: $white;
              color: $black;
            }

            >label:nth-child(7) {
              background: $black;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.edit-theme_page_acf-options-header-footer,
.toplevel_page_theme-general-settings,
.edit-theme_page_theme-header-footer-settings {
  .medium-editor-element {
    word-wrap: break-word;
    min-height: 32px;
    padding: 6px !important;
    margin-bottom: 6px !important;
  }

  .inside.acf-fields {
    padding: 12px 18px !important;
    border-top: 0 !important;

    >.acf-field {
      border-top: 0 !important;
    }
  }

  .acf-field {
    .toping {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      max-width: 246px;
    }

    &.acf-field-rgba-color {
      border: 0 !important;

      .clear {
        height: 28px;
        line-height: 28px;
        padding: 0 12px 2px;
        box-shadow: none !important;
        text-shadow: none !important;
        text-align: center;
        border-color: #2bd8d5;
        background: #20acaa;
        font-weight: 400;
        color: #fff;
        -webkit-appearance: none;
        border: 1px solid;
        border-radius: 3px;
      }

      .rgbatext {
        background: #f1f1f1 !important;
        border: 1px solid #ccc !important;
        box-shadow: none !important;
        font-size: 12px;
        text-transform: lowercase !important;
        vertical-align: top;
        height: 28px;
        line-height: 28px;
        text-shadow: none !important;
        text-align: center;
        font-weight: 400;
        color: #000;
        -webkit-appearance: none;
        border-radius: 3px;
        margin: 0 !important;
        padding: 0 !important;
      }

      .minicolors-swatch-color {
        border-radius: 3px;
      }

      .minicolors-swatch {
        top: 0 !important;
        height: 28px !important;
        border-radius: 3px;
        border: 1px solid #ccc !important;
      }
    }
  }
}

.post-type-page {
  .btn-success {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 6px !important;
    background-color: #ffffff;
    color: #72777c;
    opacity: 1;
    padding: 0;
    margin: 0 0 0 5px;
    -webkit-appearance: none;
    border: 0;

    i {
      color: #72777c;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #20acaa;

      i {
        color: #fff;
      }
    }
  }

  .acf-field.acf-field-repeater .acf-table thead {
    display: none;
  }

  .acf-fields>.acf-field.acf-field-group>.acf-label,
  .acf-fields>.acf-field.acf-field-group .acf-field.acf-field-group>.acf-label {
    display: none;
  }

  .acf-field-columngroup {
    padding: 0 !important;
    margin: 0 !important;
  }

  .acf-field-columngroup>.acf-field,
  .acf-field-columngroup>.acf-field>.acf-input>.acf-fields {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
  }

  .layout>.acf-fields,
  .layout>.acf-fields>.acf-field,
  .layout>.acf-fields>.acf-field>.acf-input>.acf-fields,
  .layout .acf-field-group,
  .layout .acf-fields.-border {
    padding: 0 !important;
    border: 0;
  }

  .medium-editor-element {
    min-height: 64px !important;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;

    p,
    span,
    a,
    li {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
    }
  }

  a.acf-icon.small {
    text-decoration: none !important;
  }

  .acf-button-group {
    label {
      font-weight: 500;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
    }

    &.-vertical {
      width: 100%;

      label {
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box !important;
        display: block;
        width: 100%;
        margin-top: -1px;

        &:first-child {
          border-radius: 0;
        }
      }
    }
  }

  .inside.acf-fields>.acf-field {
    background: #f5f5f6;
    padding: 6px 0px !important;
  }

  .acf-flexible-content .layout {
    margin-bottom: 6px !important;
    margin-top: 6px !important;
  }

  .acf-field-columngroup {
    padding-left: 6px !important;
    padding-right: 6px !important;

    >.acf-field {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .acf-field {
    &.acf-field-group[data-name="content_offset_image_block"] {
      .acf-field {
        &.acf-field-columngroup {
          &.column-layout-2_2 {
            padding-left: 0;
          }

          .heading-field-heading {
            max-width: 100% !important;
            width: 100% !important;
          }

          // &.heading-field-heading {
          //   max-width: calc(100%  - 84px);
          //   width: calc(100%  - 84px);
          //   padding-right: 0 !important;
          //   display: inline-block;
          // }
        }
      }
    }

    &.acf-field-image[data-name="video_cover_image"] {
      margin-top: 1rem !important;
    }

    &.acf-field-image[data-name="contact_form_block"] {
      margin-top: 1rem !important;
    }

    &[data-name="contact_form_block"] {
      .heading-field-heading {
        .medium-editor-element {
          background: none !important;
        }
      }
    }

    &.acf-field-image[data-name="video_play_button"] {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }

    &.acf-field-group {

      &.collapse,
      &.collapsing,
      &.section-container-collapse {
        margin: 0 !important;
        padding: 0 !important;

        >.acf-input {
          >.acf-fields {
            padding: 12px 10px 6px 0px !important;
          }
        }

        .acf-fields.-top.-border {
          border: 0;
          background: #f8f8f9;
        }

        >.acf-label {
          display: none !important;
        }

        >.acf-input {
          >.acf-fields {

            >.acf-field,
            >.acf-field-columngroup {
              padding: 0 !important;

              // &:last-of-type {
              //   padding-right: 42px !important;
              // }
              >.acf-field {
                >.acf-label {
                  vertical-align: top;
                  margin: 0;
                  width: 100%;

                  >label {
                    margin: 0;
                  }
                }

                &.acf-field-button-group {
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  margin: 0;
                  padding: 0 6px !important;
                  flex-flow: column;

                  .acf-label {
                    margin-bottom: 6px;

                    label {
                      text-align: center;
                      display: block;
                      font-size: 12px;
                    }
                  }

                  &:nth-child(1) {
                    margin: 6px 6px 12px !important;
                    padding: 0 !important;
                    flex-flow: row;

                    .acf-label {
                      margin-bottom: 0 !important;
                      border: 0 !important;

                      label {
                        text-align: left;
                        display: block;
                        font-size: 14px;
                        border: 0 !important;
                      }
                    }

                    .acf-input {
                      margin-bottom: 0px !important;
                    }

                    .acf-button-group {
                      width: 100%;
                    }
                  }

                  label {
                    &.selected {
                      background-color: #16ab8d;
                      border-color: #2bd8d5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.acf-field-post-object {
      .select2-container--default .select2-selection--single {
        margin-top: 1px;
        margin-bottom: 1px;
        line-height: 30px;
      }
    }

    &.acf-field-flexible-content {
      >.acf-input {
        >.acf-flexible-content {
          >.values {
            >.layout {
              .acf-fc-layout-handle {
                background: #1f2c39;
                color: #fff;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 4px;
              }

              .acf-fc-layout-order {
                background: #1abc9c;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin-right: 5px;
                border-radius: 24px;
              }

              .acf-fc-layout-controls {
                .acf-icon.-collapse:hover {
                  color: #fff;
                }

                .acf-icon.-plus,
                .acf-icon.-minus {
                  visibility: visible;
                }
              }

              .acf-table>thead>tr>th {
                word-break: break-word;
              }
            }
          }
        }
      }

      .acf-repeater {
        th.acf-row-handle {
          background: #26A69A !important;
        }
      }

      &.acf-image-content-flexi {
        .acf-input {
          .acf-fields {
            display: flex;
            flex-flow: row wrap;

            .acf-field-image,
            .acf-field-url,
            .acf-field-acf-code-field {
              flex-basis: calc(100% - 164px);
              max-width: calc(100% - 164px);
              border-left: 1px solid #f1f1f1;
            }
          }
        }
      }

      &.acf-next-page-flexi {
        .acf-field-columngroup {
          display: flex;
          flex-flow: row;

          .acf-field-post-object {
            flex-basis: calc(100% - 100px);
            max-width: calc(100% - 100px);
          }
        }
      }

      &.acf-team-content-flexi {
        .acf-repeater {
          >.acf-table {
            >tbody {
              @include media(">=xl") {
                display: flex;
              }

              @include media(">=xl") {

                .ui-sortable-handle,
                .acf-row-handle {
                  width: 16px !important;
                }
              }
            }

            >thead {
              @include media(">=xl") {

                .ui-sortable-handle,
                .acf-row-handle {
                  width: 16px !important;
                }
              }

              @include media(">=xl") {
                display: inline-flex;
                width: 100%;

                tr {
                  flex-basis: 100%;
                  display: flex;
                  justify-content: flex-start;
                }
              }
            }

            >.ui-sortable {
              @include media(">=xl") {
                display: flex;
                flex-flow: row wrap;
              }

              >.acf-row {
                @include media(">=xl") {
                  flex-basis: 50%;
                  display: flex;
                }

                >td {
                  @include media(">=xl") {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .acf-field {
    &.acf-field-medium-editor {
      &.team-content-block-heading {
        .medium-editor-element {
          font-family: $font-family-sans-serif;
          font-size: 1.6rem !important;
          font-weight: 500;
          line-height: 1.5;
          color: $black;
        }
      }

      &.team-content-block-subheading {
        .medium-editor-element {
          font-family: $font-family-sans-serif;
          font-size: .975rem !important;
          font-weight: $font-weight-normal;
          line-height: 1.5;
          color: $black;
          text-transform: uppercase;
        }
      }

      &.team-content-block-image {
        .acf-image-uploader .image-wrap img {
          background: $dark !important;
        }
      }

      &.team-content-block-content {
        .medium-editor-element {
          font-family: $font-family-sans-serif !important;
          font-size: .975rem !important;
          font-weight: $font-weight-normal !important;
          line-height: 1.5 !important;
          color: $black !important;

          p,
          span,
          a {
            font-family: $font-family-sans-serif !important;
            font-size: .975rem !important;
            font-weight: $font-weight-normal !important;
            line-height: 1.5 !important;
            color: $black !important;
          }
        }
      }
    }
  }

  .postbox.acf-postbox>.acf-fields.inside>.acf-field.acf-field-flexible-content>.acf-label,
  .postbox.acf-postbox>.acf-fields.inside>.acf-field.acf-field-flexible-content>.acf-input>.acf-flexible-content>.values>.layout>.acf-fields>.acf-field>.acf-label {
    display: none !important;
  }

  [data-type="medium_editor"] .acf-input span.note {
    font-size: 12px;
    color: #777;
    text-transform: none;
    margin-top: 5px;
    display: block;
  }

  .medium-editor-element {
    padding: 6px !important;
    // min-height: 62px;
  }

  .acf-smart-button-fields>tbody>tr>td[valign="top"] {
    text-transform: capitalize;
  }

  .icon-repeater .acf-row {
    width: 20%;
    display: inline-block;
  }

  .section-container-show-more .acf-label,
  .section-container-show-more .acf-input {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .acf-field.acf-field-group.section-container-collapse .acf-field-columngroup .acf-label,
  .acf-field.acf-field-group.section-container-collapse .acf-field-columngroup .acf-input {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .acf-fields>.acf-field {
    padding: 6px !important;
  }

  .acf-field.acf-field-group {
    min-height: 0 !important;
  }

  .acf-field.acf-field-columngroup {
    padding: 0 6px !important;
  }

  .acf-flexible-content .layout>.acf-fields>.acf-field>.acf-input>.acf-fields>.acf-field.acf-field-group {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  .acf-flexible-content .layout>.acf-fields>.acf-field>.acf-input>.acf-fields>.acf-field {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .acf-flexible-content .layout>.acf-fields>.acf-field>.acf-input>.acf-fields>.acf-field.acf-field-columngroup .acf-field>.acf-input>.acf-fields>.acf-field.acf-field-group {
    padding: 0 !important;
  }

  .acf-field .acf-label label {
    margin: 0;
  }

  .acf-field .acf-label label {
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    padding: 0;
  }

  .acf-field .acf-label {
    font-size: 14px;
    padding: 6px 10px 4px;
    display: block;
    background: #f1f1f1a8;
    margin: 0 0 10px 0;
    line-height: 1.2;
    border-radius: 0;
    border: 1px solid #d7d9db;
    font-weight: 400;
  }

  .layout .medium-editor-element {
    padding: 6px 12px !important;
  }

  .acf-field.acf-field-group.section-container-collapse .acf-field-columngroup .acf-input {
    width: 100%;
    padding: 0 !important;
    max-width: 100%;
  }

  .acf-field.acf-field-group.section-container-collapse .acf-field-columngroup .acf-input .acf-button-group.-vertical,
  .button-field-theme-color .acf-button-group.-vertical {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    label {
      display: inline-block;
      flex-basis: 50%;
      flex-grow: 1;
      border-radius: 0;
      margin-right: -1px;
      background: #f4f4f4;
      width: 50%;

      &:first-of-type {
        width: 100%;
        flex-basis: 100%;
      }

      &.acf-button-none {
        flex-basis: 100%;
      }

      &.acf-button-bg-dark {
        flex-basis: 100%;
      }
    }
  }

  .acf-field.acf-field-smart-button .acf-input.text {
    padding: 0 6px !important;
  }

  .acf-smart-button-fields td>label {
    font-weight: 500;
  }

  .acf-field.acf-field-group.acf-image-content-group .acf-fields {
    display: flex;
  }

  .post-type-page .layout[data-layout="image-gallery-block"] .btn-success {
    margin-top: 10px !important;
    right: -22px !important;
  }

  .post-type-page .layout[data-layout="video-block"] .btn-success {
    margin-top: 10px !important;
    right: -22px !important;
  }
}

.wp-admin {
  .acf-button-group label.selected {
    border-color: #2bd8d5;
    background: #24c7c4;
    color: #fff;
    z-index: 2
  }

  .acf-button-group label.selected:hover {
    background: #3ddbd8
  }

  .acf-switch.-on {
    background: #24c7c4;
    border-color: #2bd8d5
  }

  .acf-switch.-on .acf-switch-slider {
    left: 50%;
    right: 2px;
    border-color: #20b0ae
  }

  .acf-switch.-on:hover {
    background: #3ddbd8
  }

  .acf-switch.-focus .acf-switch-slider {
    border-color: #3ddbd8;
    box-shadow: 0 0 2px rgba(#3ddbd8, 0.5)
  }

  .acf-switch.-focus.-on .acf-switch-slider {
    border-color: #20b0ae;
    box-shadow: 0 0 2px #24c7c4
  }

  .select2-container.-acf .select2-selection--multiple .select2-selection__choice.ui-sortable-helper {
    background: #24c7c4;
    border-color: #20b0ae;
    color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
  }

  .select2-container.-acf.select2-container-active .select2-choices,
  .select2-container.-acf.select2-dropdown-open .select2-choices {
    border-color: #3ddbd8;
    border-radius: 3px 3px 0 0
  }

  .select2-container.-acf.select2-dropdown-open .select2-choice {
    background: #fff;
    border-color: #3ddbd8
  }

  .acf-field .acf-notice {
    margin: 0 0 15px;
    background: #edf2ff;
    color: #26d3d0;
    border: none
  }

  .select2-container.-acf .select2-choices .select2-search-choice.ui-sortable-helper {
    background: #3ddbd8;
    border-color: #26d3d0;
    color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
  }
}
