@font-face {
  font-family: 'Montreal';
  src: url('../fonts/montreal-regular.otf') format('opentype'),
       url('../fonts/montreal-regular.ttf') format('truetype'),
       url('../fonts/montreal-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montreal';
  src: url('../fonts/montreal-bold.otf') format('opentype'),
       url('../fonts/montreal-bold.ttf') format('truetype'),
       url('../fonts/montreal-bold.woff') format('woff');
  font-weight: 700;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,400i,500,500i,600,600i,700,700i');

$light:   #f0f0f0 !default;
$text-muted: rgba(255, 255, 255, 0.92) !default;
$dark:    #202a32 !default;
$darker:  #141f27 !default;
$mystirling-blue: #24c7c4 !default;
$mystirling-light: #2bd8d5 !default;
$mystirling-blue-dark: #20b0ae !default;
$mystirling-blue-darker: #1c9b99 !default;

$highlight-color: $mystirling-blue;
$notification-color: #CB4B16;
$action-color: #fd7e14;

$text-color: #ffffff !default;
$base-color: scale-color($darker, $lightness: -5%) !default;
$icon-color: hsl( hue( $base-color ), 7%, 95% ) !default;

// global

$body-background: $light !default;

$link: $darker !default;
$link-focus: lighten( $link, 10% ) !default;

$button-color: $highlight-color !default;
$form-checked: $highlight-color !default;

// stylelint-disable
$white:    #fff !default;
$gray-100: #FDF6E3 !default;
$gray-200: #EEE8D5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002B36 !default;
$black:    #000 !default;

$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 667px,
  'lg': 992px,
  'xl': 1360px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 667px,
  lg: 992px,
  xl: 1360px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 619px,
  lg: 960px,
  xl: 1320px
) !default;

$blue:            #B58900 !default;
$indigo:          #6610f2 !default;
$purple:          #6f42c1 !default;
$pink:            #ee2f55 !default;
$red:             #D33682 !default;
$orange:          #fd7e14 !default;
$yellow:          #CB4B16 !default;
$green:           #2AA198 !default;
$teal:            #06e1c4 !default;
$cyan:            #268BD2 !default;

$scrollbar-width: 10px !default;
$scrollbar-bg: $dark !default;
$scrollbar-thumb-color: $secondary-dark !default;
$scrollbar-track-bg: $darker !default;
$scrollbar-track-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !default;

$success:           $mystirling-blue !default;
$info:              $darker !default;
$warning:           $orange !default;
$danger:            $yellow !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $primary,
  success: $teal,
  info: $dark,
  warning: $orange,
  danger: $yellow,
  light: $light,
  dark: $dark
), $theme-colors) !default;

$body-bg:         $dark !default;
$body-color:      $white !default;
$text-drop-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 3px 2px rgba(0, 0, 0, 0.09), 0 6px 3px rgba(0, 0, 0, 0.02) !default;

$link-color:        $body-color !default;
$link-hover-color:  $secondary-light !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;

$form-input-bg: linear-gradient(to top, rgba(255, 255 ,255 ,0.25) 1px, rgba(0, 0 ,0 ,0) 1px), linear-gradient(to top, rgba(255, 255 ,255 ,0.25) 1px, rgba(0, 0, 0, 0) 1px) !default;
$form-input-bg-active: linear-gradient(to top, $secondary 1px, rgba(0, 0 ,0 ,0) 1px), linear-gradient(to top, $secondary 1px, rgba(0, 0, 0, 0) 1px) !default;
$form-input-bg-prmary: linear-gradient(to top, $primary 1px, rgba(0, 0 ,0 ,0) 1px), linear-gradient(to top, $primary 1px, rgba(0, 0, 0, 0) 1px) !default;
$form-font-size: .875rem !default;
$input-focus-box-shadow:                none !default;
$input-focus-border-color:              transparent !default;

$grid-columns:        48 !default;
$grid-gutter-width:   0 !default;

$padding-gap: 4rem !default;
$padding-gap-mobile: 2rem !default;
$gutters-gap: .5rem !default;

$enable-caret:                                false !default;
$enable-rounded:                              false !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;

$font-family-buttons: -apple-system, BlinkMacSystemFont, "Roboto", 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
// $font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
// $font-family-heading : "Montreal", Helvetica, Arial, sans-serif !default;
$font-size-base: .975rem !default;
$font-weight-normal: 500 !default;
$font-family-roboto: -apple-system, BlinkMacSystemFont, "Roboto", 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$headings-font-weight: 400 !default;
$headings-font-family: $font-family-heading;
$headings-color: $secondary !default;
$headings-line-height: 1.2 !default;

$h1-font-size: 3.125rem   !default;        // Hero Banner H1
$h2-font-size: 2.75rem   !default;         // Content Section Headings
$h3-font-size: 1.675rem   !default;        // Content Section Sub-headings
$h4-font-size: 1.1725rem   !default;       // Apartment Info Labels etc...
$h5-font-size: 1.125rem   !default;        // [body font*] Normal headings/buttons
$h6-font-size: .875rem   !default;         // [body font*] Smaller (nav-item) sub-headings

$bg-gradient: linear-gradient(-162deg, $primary 45%, $secondary 100%) !default;
$bg-gradient-light: linear-gradient(-162deg, $primary-light 45%, $secondary-light 100%) !default;
$bg-gradient-dark: linear-gradient(-162deg, $primary-dark 45%, $secondary-dark 100%) !default;
$bg-gradient-active: linear-gradient(-162deg, $primary-active 45%, $secondary-active 100%) !default;
$bg-gradient-inactive: linear-gradient(-162deg, $primary-inactive 45%, $secondary-inactive 100%) !default;

// admin menu & admin-bar

$menu-text: $text-color !default;
$menu-icon: $icon-color !default;
$menu-background: $base-color !default;

$menu-highlight-text: $text-color !default;
$menu-highlight-icon: $text-color !default;
$menu-highlight-background: $highlight-color !default;

$menu-current-text: $menu-highlight-text !default;
$menu-current-icon: $menu-highlight-icon !default;
$menu-current-background: $menu-highlight-background !default;

$menu-submenu-text: mix( $base-color, $text-color, 30% ) !default;
$menu-submenu-background: scale-color($base-color, $lightness: -7%) !default;

$menu-submenu-background-alt: desaturate( lighten( $menu-background, 7% ), 7% ) !default;

$menu-submenu-focus-text: $highlight-color !default;
$menu-submenu-current-text: $text-color !default;

$menu-bubble-text: $text-color !default;
$menu-bubble-background: $notification-color !default;
$menu-bubble-current-text: $text-color !default;
$menu-bubble-current-background: $menu-submenu-background !default;

$menu-collapse-text: $menu-icon !default;
$menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $text-color !default;
$menu-collapse-focus-icon: $menu-highlight-icon !default;

$adminbar-avatar-frame: lighten( $menu-background, 7% ) !default;
$adminbar-input-background: lighten( $menu-background, 7% ) !default;

$menu-customizer-text: mix( $base-color, $text-color, 40% ) !default;
